In [199]:
import pandas as pd
from datetime import datetime
import numpy as np

Información

- Obtener los medicamentos mas relevantes
- Intentar obtener lugar_residencia, lugar_procedencia, destino_alta y vive_solo --> No tenemos datos
- Ver como hago la columna gdiagalt --> De momento lo dejaria con los códigos, no hay una clasificación clara.

### Carga de archivos

In [200]:
df = pd.read_csv('../datos/DatosIdentificativosAdministrativos.csv')
df_constantes = pd.read_csv('../datos/ConstantesVitales.csv')
df_glucemias = pd.read_csv('../datos/GlucemiasGlucosurias.csv')
df_accidentes = pd.read_csv('../datos/AccidentesPlanta.csv')
df_dietas = pd.read_csv('../datos/DietasViasAlimentacion.csv')
df_antecedentes = pd.read_csv('../datos/ValoracionesAntecedentesPersonales.csv')
df_valoracion_enfermeria = pd.read_csv('../datos/ValoracionesEnfermeria.csv')
#df_prescripcion_farmacos = pd.read_csv('../datos/PrescripcionFarmacos.csv')
df_valoracion_medica = pd.read_csv('../datos/ValoracionesMedicas.csv')

/tmp/ipykernel_8706/3480457216.py:2: DtypeWarning: Columns (16,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df_constantes = pd.read_csv('../datos/ConstantesVitales.csv')
/tmp/ipykernel_8706/3480457216.py:3: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_glucemias = pd.read_csv('../datos/GlucemiasGlucosurias.csv')

### Datos identificaticos

In [201]:
# Eliminar las columnas que no tienen información relevante
df = df.drop(columns=['gprovinc', 'dnomprov', 'gpoblaci','dpoblaci','odiagini', 'odiagalt','dnomprov','ganoadme','gnumadme','gmotingr','dmotingr','gdiaging','gdiagini', 'gserulti', 'dnomserv','dsitalta','dmotalta','itraslad','odiaging','gdiasec1', 'odiasec1', 'gdiasec2', 'odiasec2','gmotalta'])
df.drop_duplicates(subset=['gidenpac'], keep='first', inplace=True)

In [202]:
# Reemplazar 'H' por 0 y 'M' por 1 en la columna 'itipsexo'
df['itipsexo'] = df['itipsexo'].replace({'H': 0, 'M': 1})


# Columna ds_izq_der para saber que lado de la cadera es 
# ------------------------------------------------------------------------------------------
# Eliminar las filas donde 'gdiagalt' no comienza con "S72."
df = df[df['gdiagalt'].str.startswith('S72.')]


# Eliminar las filas donde 'gdiagalt' contiene los códigos especificados
df = df.drop(df[df['gdiagalt'].isin(["S72.142D", "S72.90XD", "S72.102D"])].index)

# Definir el diccionario de mapeo
mapeo_fracturas = {
    'S72.141A': 'Intertrocantérea desplazada',
    'S72.012A': 'Intracapsular no especificada',
    'S72.142A': 'Intertrocantérea desplazada',
    'S72.011A': 'Intracapsular no especificada',
    'S72.002A': 'No especificada',
    'S72.001A': 'Trocantérea no especificado',
    'S72.102A': 'Trocantérea no especificado',
    'S72.101A': 'Trocantérea no especificado',
    'S72.22XA': 'Subtrocantérea desplazada',
    'S72.091A': 'Otras',
    'S72.112A': 'Trocantérea desplazada',
    'S72.8X1A': 'Otras',
    'S72.051A': 'No especificada',
    'S72.91XA': 'No especificada'
}

# Crear la nueva columna usando el mapeo
df['ds_tipo_fractura'] = df['gdiagalt'].map(mapeo_fracturas)

# Listas de códigos para "DERECHO" y "IZQUIERDO"
derecho_codes = ["S72.141A", "S72.011A", "S72.001A", "S72.101A", "S72.091A", "S72.8X1A", "S72.051A", "S72.91XA"]
izquierdo_codes = ["S72.012A", "S72.142A", "S72.002A", "S72.102A", "S72.22XA", "S72.112A", ]
# Categorizar la columna
def categorize_side(value):
    value = str(value)  # Convertir el valor a string por seguridad
    if any(code in value for code in izquierdo_codes):
        return 0
    elif any(code in value for code in derecho_codes):
        return 1
    else:
        return None  # Marcar para eliminar

# Lista de códigos a buscar
codigos_otras = ["S72.22XA", "S72.091A", "S72.112A", "S72.8X1A", "S72.051A", "S72.91XA"]

# Reemplaza los valores que coincidan en la columna 'gdiagalt'
df.loc[df['gdiagalt'].isin(codigos_otras), 'gdiagalt'] = "Otras"

# Crear la nueva columna 'ds_izq_der' basada en la función de categorización
df['ds_izq_der'] = df['gdiagalt'].apply(categorize_side)
df['ds_izq_der'] = pd.to_numeric(df['ds_izq_der'], errors='coerce').fillna(-999).astype(int)

# ------------------------------------------------------------------------------------------

# Columna turnos de trabajo
# ------------------------------------------------------------------------------------------
# Convertir la columna 'fllegada' a formato de fecha y hora
df['fllegada'] = pd.to_datetime(df['fllegada'])

# Función para asignar el turno en función de la hora
def asignar_turno(hora):
    if 8 <= hora < 15:      #Mañana
        return 0
    elif 15 <= hora < 22:   # Tarde
        return 1
    else:                   # Noche
        return 2

# Crear una nueva columna 'ds_turno' basada en la hora de 'fllegada'
df['ds_turno'] = df['fllegada'].dt.hour.apply(asignar_turno)
# ------------------------------------------------------------------------------------------

# Columna edad
# ------------------------------------------------------------------------------------------
# Convertir la columna 'fnacipac' a formato de fecha
df['fnacipac'] = pd.to_datetime(df['fnacipac'])

# Función para calcular la edad
def calcular_edad(fecha_nacimiento):
    hoy = datetime.now()
    edad = hoy.year - fecha_nacimiento.year - ((hoy.month, hoy.day) < (fecha_nacimiento.month, fecha_nacimiento.day))
    return edad

# Crear la nueva columna 'ds_edad' calculando la edad para cada fila
df['ds_edad'] = df['fnacipac'].apply(calcular_edad)
# ------------------------------------------------------------------------------------------

# Columnas de días estancia, preopertorio y postoperatorio
# ------------------------------------------------------------------------------------------
# Convertir las columnas de fecha a formato datetime, sin considerar las horas
df['fllegada'] = pd.to_datetime(df['fllegada']).dt.normalize()
df['faltplan'] = pd.to_datetime(df['faltplan']).dt.normalize()
df['finterve'] = pd.to_datetime(df['finterve']).dt.normalize()

# Calcular los días de estancia total (faltplan - fllegada)
df['ds_estancia'] = (df['faltplan'] - df['fllegada']).dt.days

# Calcular los días de preoperatorio incluyendo el día de intervención
df['ds_pre_oper'] = (df['finterve'] - df['fllegada']).dt.days
df['ds_pre_oper'] = pd.to_numeric(df['ds_pre_oper'], errors='coerce').fillna(-999).astype(int)


# Calcular los días de postoperatorio incluyendo el día de intervención
df['ds_post_oper'] = (df['faltplan'] - df['finterve']).dt.days
df['ds_post_oper'] = pd.to_numeric(df['ds_post_oper'], errors='coerce').fillna(-999).astype(int)

# ------------------------------------------------------------------------------------------

# Crear la columna 'ds_vivo_alta' basada en la condición de 'gsitalta'
df['ds_vivo_alta'] = df['gsitalta'].apply(lambda x: 0 if x == 7 else 1)

# Reemplazar 'N' por 0 y 'S' por 1 en la columna 'ireingre'
df['ireingre'] = df['ireingre'].replace({'N': 0, 'S': 1})

# Crear la columna 'ds_dia_semana_llegada'(1 para lunes, 7 para domingo)
df['ds_dia_semana_llegada'] = df['fllegada'].dt.dayofweek + 1

# Crear la columna 'ds_mes_llegada'  
df['ds_mes_llegada'] = df['fllegada'].dt.month

# Obtenemos si viven en el centro o en las afueras
codigos_centro = [24001, 24002, 24003, 24004, 24005, 24006, 24007, 24008, 24009, 24010, 24012, 24070, 24071, 24080, ]  #Códigos del centro
df['ds_centro_afueras'] = df['gcodipos'].apply(lambda x: 1 if x in codigos_centro else 0)

# Reemplazar 'I' por 0 y 'U' por 1 en la columna 'itipingr'
df['itipingr'] = df['itipingr'].replace({'I': 0, 'U': 1})

# Reemplazar 'N' por 0 y 'S' por 1 en la columna 'iotrocen'
df['iotrocen'] = df['iotrocen'].replace({'N': 0, 'S': 1})

# Eliminar pacientes que no tienen nada que ver con Fractura de cadera
# Lista de valores que quieres eliminar
valores_a_eliminar = ['FDFD192912290', 'FRGR193404470', 'GNMR193911510']

# Eliminar filas donde gidenpac tenga valores en la lista
df = df[~df['gidenpac'].isin(valores_a_eliminar)]

# Eliminar columnas que ya no necesitamos
df = df.drop(columns=['faltplan'])
df = df.drop(columns=['fnacipac'])
df = df.drop(columns=['fllegada'])
df = df.drop(columns=['finterve'])

/tmp/ipykernel_8706/3745523189.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['itipsexo'] = df['itipsexo'].replace({'H': 0, 'M': 1})
/tmp/ipykernel_8706/3745523189.py:118: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['ireingre'] = df['ireingre'].replace({'N': 0, 'S': 1})
/tmp/ipykernel_8706/3745523189.py:131: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['itipingr'] = df['itipingr'].replace({'I': 0, 'U': 1})
/tmp/ipykernel_8706/3745523189.py:134: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['iotrocen'] = df['iotrocen'].replace({'N': 0, 'S': 1})

### Accidentes

In [203]:
# No tiene info que podamos usar
"""
# Filtrar df_accidentes para seleccionar solo las columnas relevantes
df_accidentes = df_accidentes[['gidenpac', 'ifamilia', 'gmovilid']]

# Realizar el merge con df, añadiendo las columnas de 'ifamilia' donde coincida 'gidenpac'
df = pd.merge(df, df_accidentes, on='gidenpac', how='left')

# Reemplazar 'N' por 0 y 'S' por 1 en la columna 'ifamilia'
df['ifamilia'] = df['ifamilia'].replace({'N': 0, 'S': 1})

# Cambiar el nombre de la columna 'ifamilia' a 'vive_solo'
df = df.rename(columns={'ifamilia': 'vive_solo'})

# Renombrar 'gmovilid' como 'movilidad_accidentes'
df = df.rename(columns={'gmovilid': 'movilidad_accidentes'})

# Eliminar filas duplicadas basándose en la columna 'gidenpac'
df = df.drop_duplicates(subset='gidenpac')
# Pasar a entero y añadimos -999 en los vacios
#df['vive_solo'] = df['vive_solo'].fillna(-999).astype(int)
#df['movilidad_accidentes'] = df['movilidad_accidentes'].fillna(-999).astype(int)
"""

"\n# Filtrar df_accidentes para seleccionar solo las columnas relevantes\ndf_accidentes = df_accidentes[['gidenpac', 'ifamilia', 'gmovilid']]\n\n# Realizar el merge con df, añadiendo las columnas de 'ifamilia' donde coincida 'gidenpac'\ndf = pd.merge(df, df_accidentes, on='gidenpac', how='left')\n\n# Reemplazar 'N' por 0 y 'S' por 1 en la columna 'ifamilia'\ndf['ifamilia'] = df['ifamilia'].replace({'N': 0, 'S': 1})\n\n# Cambiar el nombre de la columna 'ifamilia' a 'vive_solo'\ndf = df.rename(columns={'ifamilia': 'vive_solo'})\n\n# Renombrar 'gmovilid' como 'movilidad_accidentes'\ndf = df.rename(columns={'gmovilid': 'movilidad_accidentes'})\n\n# Eliminar filas duplicadas basándose en la columna 'gidenpac'\ndf = df.drop_duplicates(subset='gidenpac')\n# Pasar a entero y añadimos -999 en los vacios\n#df['vive_solo'] = df['vive_solo'].fillna(-999).astype(int)\n#df['movilidad_accidentes'] = df['movilidad_accidentes'].fillna(-999).astype(int)\n"

### Constantes vitales

In [204]:
#La mayoria están vacios.
"""
# Seleccionar solo las columnas necesarias de df_constantes y eliminar duplicados tomando el primer valor no nulo
df_constantes = df_constantes[['gidenpac', 'ntensmin', 'ntensmax', 'ntempera', 'nsatuoxi']].dropna(how='all')
df_constantes = df_constantes.groupby('gidenpac').first().reset_index()

# Realizar el merge con df, añadiendo las constantes vitales
df = pd.merge(df, df_constantes, on='gidenpac', how='left')

df['ntensmin'] = pd.to_numeric(df['ntensmin'], errors='coerce').fillna(-999).astype(int)
df['ntensmax'] = pd.to_numeric(df['ntensmax'], errors='coerce').fillna(-999).astype(int)
df['ntempera'] = pd.to_numeric(df['ntempera'], errors='coerce').fillna(-999).astype(float)
df['nsatuoxi'] = pd.to_numeric(df['nsatuoxi'], errors='coerce').fillna(-999).astype(int)


# Pasamos a int y añadimos -999 en los vacios. En la temperatura dejamos float
#df['ntensmin'] = df['ntensmin'].fillna(-999).astype(int)
#df['ntensmax'] = df['ntensmax'].fillna(-999).astype(int)
#df['ntempera'] = df['ntempera'].fillna(-999).astype(float)
#df['nsatuoxi'] = df['nsatuoxi'].fillna(-999).astype(int)
"""

"\n# Seleccionar solo las columnas necesarias de df_constantes y eliminar duplicados tomando el primer valor no nulo\ndf_constantes = df_constantes[['gidenpac', 'ntensmin', 'ntensmax', 'ntempera', 'nsatuoxi']].dropna(how='all')\ndf_constantes = df_constantes.groupby('gidenpac').first().reset_index()\n\n# Realizar el merge con df, añadiendo las constantes vitales\ndf = pd.merge(df, df_constantes, on='gidenpac', how='left')\n\ndf['ntensmin'] = pd.to_numeric(df['ntensmin'], errors='coerce').fillna(-999).astype(int)\ndf['ntensmax'] = pd.to_numeric(df['ntensmax'], errors='coerce').fillna(-999).astype(int)\ndf['ntempera'] = pd.to_numeric(df['ntempera'], errors='coerce').fillna(-999).astype(float)\ndf['nsatuoxi'] = pd.to_numeric(df['nsatuoxi'], errors='coerce').fillna(-999).astype(int)\n\n\n# Pasamos a int y añadimos -999 en los vacios. En la temperatura dejamos float\n#df['ntensmin'] = df['ntensmin'].fillna(-999).astype(int)\n#df['ntensmax'] = df['ntensmax'].fillna(-999).astype(int)\n#df['ntempera'] = df['ntempera'].fillna(-999).astype(float)\n#df['nsatuoxi'] = df['nsatuoxi'].fillna(-999).astype(int)\n"

### Antecedentes

In [205]:
# Seleccionar solo las columnas necesarias de 'df_antecedentes' y crear una copia
df_ant = df_antecedentes[['gidenpac', 'dconclin', 'vbivalor']].copy()

# Crear columnas en 'df_ant' basadas en el contenido de 'dconclin'
df_ant['ds_HTA'] = df_ant["dconclin"].str.contains("HTA", na=False).astype(int)
df_ant['ds_alergia_medicamentosa'] = df_ant["dconclin"].str.contains("Alergia medicamentosa").astype(int)
df_ant['ds_alergia_alimenticia'] = df_ant["dconclin"].str.contains("Alergia alimenticia").astype(int)
df_ant['ds_diabetes'] = df_ant["dconclin"].str.contains("Diabetes Mellitus").astype(int)
df_ant['ds_otras_alergias'] = df_ant["dconclin"].str.contains("Otras alergias").astype(int)

# Actualizar valores en columnas de antecedentes usando 'vbivalor' si no es nulo
columns_to_update = ['ds_HTA', 'ds_alergia_medicamentosa', 'ds_alergia_alimenticia', 'ds_otras_alergias']
for col in columns_to_update:
    df_ant[col] = df_ant.apply(lambda x: x['vbivalor'] if pd.notnull(x['vbivalor']) and x[col] == 1 else x[col], axis=1)

# Reemplazar valores específicos ('N' -> 0, 'S' -> 1, 'A' -> 1) en todo el DataFrame
df_ant.replace({'N': 0, 'S': 1, 'A': 1}, inplace=True)

# Eliminar las columnas 'dconclin' y 'vbivalor' si ya no son necesarias
df_ant.drop(columns=['dconclin', 'vbivalor'], inplace=True)

# Eliminar duplicados en el DataFrame (si aún no se ha hecho)
df_ant = df_ant.drop_duplicates()

# Agrupar por 'gidenpac' y usar 'max' para que cualquier 1 en una columna mantenga el valor como 1
df_ant = df_ant.groupby('gidenpac', as_index=False).max()

# Realizar un merge entre df y df_ant sin sufijos
df = pd.merge(df, df_ant, on='gidenpac', how='left')

# Asignar valores de df_ant solo si son 1
for col in columns_to_update:
    df[col] = df.apply(lambda x: x[col] if pd.notnull(x[col]) and x[col] == 1 else np.nan if pd.isna(x[col]) else x[col], axis=1)

/tmp/ipykernel_8706/2776989086.py:17: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_ant.replace({'N': 0, 'S': 1, 'A': 1}, inplace=True)

### Valoracion Enfermeria

In [206]:
import pandas as pd
import numpy as np

# Seleccionar solo las columnas necesarias de 'df_valoracion_enfermeria'
df_valoracion_enfermeria = df_valoracion_enfermeria[['gidenpac', 'dconclin', 'ncodtabu', 'nsecuval', 'nvalncon', 'ovallcon', 'vbivalor']].copy()

# Asegurarse de que 'ncodtabu', 'nvalncon', 'ovallcon', y 'vbivalor' sean numéricos
df_valoracion_enfermeria[['ncodtabu', 'nvalncon', 'ovallcon', 'vbivalor']] = df_valoracion_enfermeria[['ncodtabu', 'nvalncon', 'ovallcon', 'vbivalor']].apply(pd.to_numeric, errors='coerce')

# Definir los valores de 'dconclin' que se convertirán en nuevas columnas
patterns = {
    '_movilidad': "_Movilidad",
    'movilidad': "Movilidad",
    'lugar_residencia': "G Lugar de Residencia",
    'lugar_procedencia': "G Procedencia",
    'destino_alta': "G Destino Alta",
    'Barthel': "Resultado Indice de Barthel",
    'barthel_alta': "Resultado Indice de Barthel al Alta",
    'braden': "Resultado Escala de Braden",
    'riesgo_caida': "Resultado Escala Riesgo Caidas"
}

# Crear una expresión regular unida para filtrar las filas deseadas
regex_pattern = "|".join(patterns.values())

# Filtrar el DataFrame para conservar solo las filas que coinciden con el patrón
df_valoracion_enfermeria = df_valoracion_enfermeria[df_valoracion_enfermeria['dconclin'].str.contains(regex_pattern, na=False)]

# Iterar sobre el diccionario para crear las columnas basadas en el valor máximo entre las columnas especificadas
for new_col, pattern in patterns.items():
    # Crear la nueva columna con el valor máximo de las columnas seleccionadas donde 'dconclin' coincide con el patrón
    df_valoracion_enfermeria[new_col] = np.where(
        df_valoracion_enfermeria['dconclin'].str.contains(pattern, na=False),
        df_valoracion_enfermeria[['ncodtabu', 'nvalncon', 'ovallcon', 'vbivalor']].max(axis=1),
        np.nan
    )

# Agrupar por 'gidenpac' y mantener el valor máximo en cada columna para eliminar duplicados
df_valoracion_enfermeria = df_valoracion_enfermeria.groupby('gidenpac', as_index=False).max()

# Eliminar las columnas no deseadas del DataFrame
df_valoracion_enfermeria = df_valoracion_enfermeria.drop(columns=['dconclin', 'ncodtabu', 'nsecuval', 'nvalncon', 'ovallcon', 'vbivalor', '_movilidad','barthel_alta'])

# Combinar df y df_valoracion_enfermeria por la columna 'gidenpac'
df= pd.merge(df, df_valoracion_enfermeria, on='gidenpac', how='left')

# Convertimos a enteros y los Nan los pasamos a -999
df['movilidad'] = df['movilidad'].fillna(-999).astype(int)
df['lugar_residencia'] = df['lugar_residencia'].fillna(-999).astype(int)
df['lugar_procedencia'] = df['lugar_procedencia'].fillna(-999).astype(int)
df['destino_alta'] = df['destino_alta'].fillna(-999).astype(int)
df['Barthel'] = df['Barthel'].fillna(-999).astype(int)
df['braden'] = df['braden'].fillna(-999).astype(int)
df['riesgo_caida'] = df['riesgo_caida'].fillna(-999).astype(int)

### Glucemias

In [207]:
# Pocos datos

# Crear un conjunto con los valores de gidenpac en df_glucemias
glucemias_pacientes = set(df_glucemias['gidenpac'].dropna())

# Crear la columna 'ds_diabetes' solo en las casillas vacías. Añadimos info a la casilla ds_diabetes
df['ds_diabetes'] = df.apply(lambda row: 1 if pd.isna(row['ds_diabetes']) and row['gidenpac'] in glucemias_pacientes 
                             else (0 if pd.isna(row['ds_diabetes']) else row['ds_diabetes']), axis=1)

### Valoraciones Medicas

In [208]:
# Definir los códigos de 'gcodconc' que queremos filtrar para los diagnosticos
codigos = [1368, 1369, 1370, 1371, 1372, 1373, 1374, 1742, 1743, 1750, 1813, 1814, 1815]

# Listado de archivos a procesar
archivos = [
    '../datos/ValoracionesMedicas.csv' 
]

# Lista para almacenar los DataFrames filtrados
dataframes_filtrados = []

# Iterar sobre cada archivo
for archivo in archivos:
    # Cargar el archivo
    df_v_med = pd.read_csv(archivo)
    
    # Filtrar las filas donde 'gcodconc' esté en la lista de códigos
    df_filtrado = df_v_med[df_v_med['gcodconc'].isin(codigos)]
    
    # Seleccionar solo las columnas 'gidenpac', 'gcodconc' y 'ovallcon'
    df_filtrado = df_filtrado[['gidenpac', 'gcodconc', 'ovallcon']]
    
    # Añadir el DataFrame filtrado a la lista
    dataframes_filtrados.append(df_filtrado)

# Concatenar todos los DataFrames filtrados en uno solo
df_val_medicas_combined = pd.concat(dataframes_filtrados, ignore_index=True)


# Guardar el resultado en un archivo CSV
df_val_medicas_combined.to_csv('DF_VAL_MEDICAS_COMBINED.csv', index=False)

conteo_codigos = df_val_medicas_combined['ovallcon'].value_counts()

In [209]:
# Crear la nueva columna 'ds_HTA' para detectar 'HTA' en cualquier parte del texto
df_val_medicas_combined['ds_HTA'] = df_val_medicas_combined['ovallcon'].str.contains('HTA', case=False, na=False).astype(int)
df_val_medicas_combined['ds_ITU'] = df_val_medicas_combined['ovallcon'].str.contains('ITU', case=False, na=False).astype(int)
#df_val_medicas_combined['ds_acido_folico'] = df_val_medicas_combined['ovallcon'].str.contains('ACIDO FOLICO', case=False, na=False).astype(int)
df_val_medicas_combined['ds_anemia'] = df_val_medicas_combined['ovallcon'].str.contains('ANEMIA', case=False, na=False).astype(int)
df_val_medicas_combined['ds_vitamina_d'] = df_val_medicas_combined['ovallcon'].str.contains('VITAMINA D', case=False, na=False).astype(int)
#df_val_medicas_combined['ds_obesidad'] = df_val_medicas_combined['ovallcon'].str.contains('OBESIDAD', case=False, na=False).astype(int)
#df_val_medicas_combined['ds_osteoporosis'] = df_val_medicas_combined['ovallcon'].str.contains('OSTEOPOROSIS', case=False, na=False).astype(int)


# Insuficiencia respiratoria
# ___________________________________________________________
respiratory_terms = [
    'INSUFICIENCIA RESPIRATORIA AGUDA', 'INSUFICIENCIA RESPIRATORIA', 
    'INSUFICIENCIA RESPIRATORIA AGUDA PARCIAL', 'INSUFICIENCIA RESPIRATORIA CRÓNICA AGUDIZADA', 
    'INSUFICIENCIA RESPIRATORIA PARCIAL', 'INSUFICIENCIA RESPIRATORIA 2RIA', 
    'INSUFICIENCIA RESPIRATORIA GLOBAL', 'INSUFICIENCIA RESPIRATORIA AGUDA SECUNDARIA', 
    'INSUFICIENCIA RESPIRATORIA PARCIAL CRÓNICA AGUDIZADA', 
    'INSUFICIENCIA RESPIRATORIA AGUDA PARCIAL RESUELTA', 'EPOC AGUDIZADO', 'EPOC', 'EPOC REAGUDIZADO'
]

# Crear una expresión regular que detecte cualquiera de los términos
pattern = '|'.join(respiratory_terms)

# Crear la nueva columna 'ds_respiratoria' con 1 si encuentra cualquier término
df_val_medicas_combined['ds_insuficiencia_respiratoria'] = df_val_medicas_combined['ovallcon'].str.contains(pattern, case=False, na=False).astype(int)
# ___________________________________________________________

# Diabetes
# ___________________________________________________________
diabetes_terms = [
    'DM TIPO 2 ', 'DM TIPO II', 'DIABETES MELLITUS', 'DM-II',  'DIABETES MELLITUS TIPO II','DIABETES'
]

# Crear una expresión regular que detecte cualquiera de los términos
pattern = '|'.join(diabetes_terms)

# Crear la nueva columna 'ds_respiratoria' con 1 si encuentra cualquier término
df_val_medicas_combined['ds_diabetes'] = df_val_medicas_combined['ovallcon'].str.contains(pattern, case=False, na=False).astype(int)
# ___________________________________________________________

# Infección respiratoria
# ___________________________________________________________
infeccion_respiratoria_terms = [
   'INFECCIÓN RESPIRATORIA', 'INFECCIÓN RESPIRATORIA DE VÍAS BAJAS',  'INFECCIÓN RESPIRATORIA DE VÍAS INFERIORES', 'INFECCION RESPIRATORIA', 'INFECCION RESPIRATORIA AGUDA', 'INFECCIÓN RESPIRATORIA AGUDA', 'INFECCIÓN RESPIRATORIA DE VÍAS BAJAS NO CONDENSANTE'
]

# Crear una expresión regular que detecte cualquiera de los términos
pattern = '|'.join(infeccion_respiratoria_terms)

# Crear la nueva columna 'ds_respiratoria' con 1 si encuentra cualquier término
#df_val_medicas_combined['ds_infeccion_respiratoria'] = df_val_medicas_combined['ovallcon'].str.contains(pattern, case=False, na=False).astype(int)
# ___________________________________________________________

# Insuficiencia Cardiaca
# ___________________________________________________________
insuficiencia_cardiaca_terms = [
'INSUFICIENCIA CARDIACA', 'INSUFICIENCIA CARDIACA DESCOMPENSADA',  'INSUFICIENCIA RESPIRATORIA CRÓNICA', 'INSUFICIENCIA CARDIACA CONGESTIVA',  'I. CARDIACA', 'INSUFICIENCIA CARDIACA CONGESTIVA DESCOMPENSADA', 'INSUFICIENCIA CARDÍACA', 'INSUFICIENCIA CARDIACA CRÓNICA DESCOMPENSADA',  'INSUFICIENCIA CARDIACA CONGESTIVA AGUDA', 'ICC AGUDA', 'CARDIOPATIA ISQUEMICA',  'CARDIOPATÍA ISQUÉMICA', 'ICC', 'ICC DESCOMPENSADA']

# Crear una expresión regular que detecte cualquiera de los términos
pattern = '|'.join(insuficiencia_cardiaca_terms)

# Crear la nueva columna 'ds_respiratoria' con 1 si encuentra cualquier término
df_val_medicas_combined['ds_insuficiencia_cardiaca'] = df_val_medicas_combined['ovallcon'].str.contains(pattern, case=False, na=False).astype(int)
# ___________________________________________________________

# Deterioro cognitivo
# ___________________________________________________________
deterioro_cognitivo_terms = [
	'DETERIORO COGNITIVO', 'DETERIORO COGNITIVO', 'DEMENCIA']

# Crear una expresión regular que detecte cualquiera de los términos
pattern = '|'.join(deterioro_cognitivo_terms)

# Crear la nueva columna 'ds_respiratoria' con 1 si encuentra cualquier término
df_val_medicas_combined['ds_deterioro_cognitivo'] = df_val_medicas_combined['ovallcon'].str.contains(pattern, case=False, na=False).astype(int)
# ___________________________________________________________

# Exitus
# ___________________________________________________________
exitus_terms = [
    'EXITUS', 'ÉXITUS']

# Crear una expresión regular que detecte cualquiera de los términos
pattern = '|'.join(exitus_terms)

# Crear la nueva columna 'ds_respiratoria' con 1 si encuentra cualquier término
df_val_medicas_combined['ds_exitus'] = df_val_medicas_combined['ovallcon'].str.contains(pattern, case=False, na=False).astype(int)
# ___________________________________________________________

# Insuficiencia renal
# ___________________________________________________________
insuficiencia_renal_terms = [
    'I. RENAL', 'INSUFICIENCIA RENAL', 'ENFERMEDAD RENAL CRÓNICA', 'INSUFICIENCIA RENAL AGUDA', 'INSUFICIENCIA RENAL CRÓNICA AGUDIZADA', 'INSUFICIENCIA RENAL CRONICA', 'IRC', 'ERC REAGUDIZADA', 'ERC AGUDIZADA', 'ERC']

# Crear una expresión regular que detecte cualquiera de los términos
pattern = '|'.join(insuficiencia_renal_terms)

# Crear la nueva columna 'ds_respiratoria' con 1 si encuentra cualquier término
df_val_medicas_combined['ds_insuficiencia_renal'] = df_val_medicas_combined['ovallcon'].str.contains(pattern, case=False, na=False).astype(int)
# ___________________________________________________________


# Eliminamos las columnas que ya no necesitamos
df_filtrado = df_val_medicas_combined.drop(columns=['gcodconc', 'ovallcon'])

# Agrupar por 'gidenpac' y aplicar max() para cada columna
df_val_medicas_procesado = df_filtrado.groupby('gidenpac').max().reset_index()


df_val_medicas_procesado.to_csv('DF_VAL_MEDICAS_PROCESED.csv', index=False)

### Filtrado de los datos finales

Unir el DataFrame principal (df) con el de valoraciones medicas ya filtrado y procesado (df_val_medicas_procesado)

In [210]:
# Unir df y df_val_medicas_procesado por la columna 'gidenpac'
df = df.merge(df_val_medicas_procesado, on='gidenpac', how='left')
# Reemplazar valores NaN o nulos por -999
#df.fillna(-999, inplace=True)

# Convertimos a enteros y los Nan los pasamos a -999
"""
df['ds_vitamina_d'] = df['ds_vitamina_d'].fillna(-999).astype(int)
df['ds_obesidad'] = df['ds_obesidad'].fillna(-999).astype(int)
df['ds_osteoporosis'] = df['ds_osteoporosis'].fillna(-999).astype(int)
df['ds_insuficiencia_respiratoria'] = df['ds_insuficiencia_respiratoria'].fillna(-999).astype(int)
df['ds_diabetes_y'] = df['ds_diabetes_y'].fillna(-999).astype(int)
df['ds_infeccion_respiratoria'] = df['ds_infeccion_respiratoria'].fillna(-999).astype(int)
df['ds_insuficiencia_cardiaca'] = df['ds_insuficiencia_cardiaca'].fillna(-999).astype(int)
df['ds_deterioro_cognitivo'] = df['ds_deterioro_cognitivo'].fillna(-999).astype(int)
df['ds_insuficiencia_renal'] = df['ds_insuficiencia_renal'].fillna(-999).astype(int)
df['ds_HTA_y'] = df['ds_HTA_y'].fillna(-999).astype(int)
df['ds_ITU'] = df['ds_ITU'].fillna(-999).astype(int)
df['ds_acido_folico'] = df['ds_acido_folico'].fillna(-999).astype(int)
df['ds_anemia'] = df['ds_anemia'].fillna(-999).astype(int)
"""

"\ndf['ds_vitamina_d'] = df['ds_vitamina_d'].fillna(-999).astype(int)\ndf['ds_obesidad'] = df['ds_obesidad'].fillna(-999).astype(int)\ndf['ds_osteoporosis'] = df['ds_osteoporosis'].fillna(-999).astype(int)\ndf['ds_insuficiencia_respiratoria'] = df['ds_insuficiencia_respiratoria'].fillna(-999).astype(int)\ndf['ds_diabetes_y'] = df['ds_diabetes_y'].fillna(-999).astype(int)\ndf['ds_infeccion_respiratoria'] = df['ds_infeccion_respiratoria'].fillna(-999).astype(int)\ndf['ds_insuficiencia_cardiaca'] = df['ds_insuficiencia_cardiaca'].fillna(-999).astype(int)\ndf['ds_deterioro_cognitivo'] = df['ds_deterioro_cognitivo'].fillna(-999).astype(int)\ndf['ds_insuficiencia_renal'] = df['ds_insuficiencia_renal'].fillna(-999).astype(int)\ndf['ds_HTA_y'] = df['ds_HTA_y'].fillna(-999).astype(int)\ndf['ds_ITU'] = df['ds_ITU'].fillna(-999).astype(int)\ndf['ds_acido_folico'] = df['ds_acido_folico'].fillna(-999).astype(int)\ndf['ds_anemia'] = df['ds_anemia'].fillna(-999).astype(int)\n"

Vamos a combinar las 2 columnas de HTA.
- HTA: Tenemos 2. X e Y. 
	- X viene de antecedentes
	- Y de valoraciones médicas
- Podemos combinar las 2, ya que es más probable que no pongan la info, a poner una info falsa

In [211]:
df['ds_HTA'] = df[['ds_HTA_x', 'ds_HTA_y']].max(axis=1)

# Eliminar las columnas originales
df.drop(columns=['ds_HTA_x', 'ds_HTA_y'], inplace=True)

Hacemos lo mismo con la diabetes

In [212]:
df['ds_diabetes'] = df[['ds_diabetes_x', 'ds_diabetes_y']].max(axis=1)

# Eliminar las columnas originales
df.drop(columns=['ds_diabetes_x', 'ds_diabetes_y'], inplace=True)

Eliminar columnas que no nos van a servir

In [213]:
df.drop(columns=['ds_exitus'], inplace=True)    # Tenemos la varibale vivo al alta (ds_vivo_alta)
df.drop(columns=['gcodipos'], inplace=True)  # La elimino porque tengo el codigo postal (gcodpos)

Eliminamos filas que les falten datos importantes

In [214]:

df = df[df['ds_pre_oper'] != -999]  # Eliminamos filas que no tengan los dias de pre o post operacion
df = df[df['ds_post_oper'] != -999]
df = df[df['ds_izq_der'] != -999]


"""
# Si las valoraciones médicas no tienen info sobre el paciente, lo eliminamos
columnas_a_verificar = [
    'ds_ITU', 'ds_acido_folico', 'ds_anemia', 'ds_vitamina_d', 
    'ds_obesidad', 'ds_osteoporosis', 'ds_insuficiencia_respiratoria', 
    'ds_infeccion_respiratoria', 'ds_insuficiencia_cardiaca', 
    'ds_deterioro_cognitivo', 'ds_insuficiencia_renal'
]

df = df[~df[columnas_a_verificar].isin([-999]).any(axis=1)]
"""

"\n# Si las valoraciones médicas no tienen info sobre el paciente, lo eliminamos\ncolumnas_a_verificar = [\n    'ds_ITU', 'ds_acido_folico', 'ds_anemia', 'ds_vitamina_d', \n    'ds_obesidad', 'ds_osteoporosis', 'ds_insuficiencia_respiratoria', \n    'ds_infeccion_respiratoria', 'ds_insuficiencia_cardiaca', \n    'ds_deterioro_cognitivo', 'ds_insuficiencia_renal'\n]\n\ndf = df[~df[columnas_a_verificar].isin([-999]).any(axis=1)]\n"

### Prescripción Farmacos

In [215]:
# Medicamentos prescitos
# Se podria usar? 
"""
# Seleccionar solo las columnas 'gidenpac' y 'tarasist'
df_prescripcion_farmacos = df_prescripcion_farmacos[['gidenpac', 'tarasist']]
df_prescripcion_farmacos = df_prescripcion_farmacos[['gidenpac', 'tarasist']]

# Combinar los dos DataFrames
df_combined = pd.concat([df_prescripcion_farmacos, df_prescripcion_farmacos], ignore_index=True)

# Agrupar por 'gidenpac' y combinar los medicamentos en una lista
df_medicamentos = df_combined.groupby('gidenpac')['tarasist'].apply(lambda x: ', '.join(x.dropna().astype(str))).reset_index()

# Verificar el resultado
print(df_medicamentos.head())

df_medicamentos.to_csv('medicamentos.csv')
"""

"\n# Seleccionar solo las columnas 'gidenpac' y 'tarasist'\ndf_prescripcion_farmacos = df_prescripcion_farmacos[['gidenpac', 'tarasist']]\ndf_prescripcion_farmacos = df_prescripcion_farmacos[['gidenpac', 'tarasist']]\n\n# Combinar los dos DataFrames\ndf_combined = pd.concat([df_prescripcion_farmacos, df_prescripcion_farmacos], ignore_index=True)\n\n# Agrupar por 'gidenpac' y combinar los medicamentos en una lista\ndf_medicamentos = df_combined.groupby('gidenpac')['tarasist'].apply(lambda x: ', '.join(x.dropna().astype(str))).reset_index()\n\n# Verificar el resultado\nprint(df_medicamentos.head())\n\ndf_medicamentos.to_csv('medicamentos.csv')\n"

Finalizando el preprocesado

In [216]:
# Convertir a categorico
columnas_a_convertir = ['itipsexo','ireingre','itipingr','iotrocen', 'ds_centro_afueras', 'movilidad', 'riesgo_caida','gsitalta','gdiagalt','ds_izq_der','ds_turno','ds_vivo_alta','ds_dia_semana_llegada', 'ds_mes_llegada', 'ds_HTA','ds_alergia_medicamentosa','ds_alergia_alimenticia','ds_diabetes','ds_otras_alergias', 'lugar_residencia','lugar_procedencia','destino_alta','ds_ITU','ds_anemia','ds_vitamina_d','ds_insuficiencia_respiratoria','ds_insuficiencia_cardiaca','ds_deterioro_cognitivo','ds_insuficiencia_renal' ]
df[columnas_a_convertir] = df[columnas_a_convertir].astype('category')

In [217]:
# Eliminamos columnas que pensabamos usar pero apenas contienen datos:
df = df.drop(columns=['ds_tipo_fractura','destino_alta', 'lugar_procedencia', 'lugar_residencia', 'itipingr', 'ireingre'])

#Eliminamos pacientes con "gsitalta" igual a 3,4 o 5, porque apenas tienen datos
# Filtrar el dataframe para conservar solo las filas que NO tengan gsitalta igual a 3, 4 o 5
df = df[~df["gsitalta"].isin([3, 4, 5])]
df["gsitalta"] = df["gsitalta"].cat.remove_unused_categories()


#Eliminamos pacientes con "movilidad" igual a 1 o 4, porque apenas tienen datos
df = df[~df["movilidad"].isin([1, 4])]
df["movilidad"] = df["movilidad"].cat.remove_unused_categories()

In [218]:
def transformar(valor):
    # Convertir el valor a string y eliminar espacios, además de pasarlo a minúsculas
    s = str(valor).strip().lower()
    if s in ["", "nan"]:
        return 0
    try:
        v = float(s)
        if v == 0:
            return 0
        elif v == 1:
            return 1
        else:
            return 0
    except Exception:
        return 0

# Lista de columnas a modificar
cols = [
    "ds_ITU", "ds_anemia", "ds_vitamina_d", "ds_insuficiencia_respiratoria",
    "ds_insuficiencia_cardiaca", "ds_deterioro_cognitivo", "ds_insuficiencia_renal",
    "ds_HTA", "ds_diabetes"
]

# Convertir la columna a string antes de aplicar la función de transformación
for col in cols:
    df[col] = df[col].astype(str).apply(transformar).astype('category')

In [219]:

# Supongamos que ya has cargado el dataset en df
# comorbidity_cols contiene las columnas de comorbilidades
comorbidity_cols = [
    "ds_ITU", "ds_anemia", "ds_vitamina_d", "ds_insuficiencia_respiratoria",
    "ds_insuficiencia_cardiaca", "ds_deterioro_cognitivo", "ds_insuficiencia_renal",
    "ds_HTA", "ds_diabetes"
]

# 1. Convertir a numérico las columnas de comorbilidades para poder sumar
for col in comorbidity_cols:
    if col not in df.columns:
        print(f"Advertencia: La columna {col} no se encontró en el dataset.")
    else:
        df[col] = pd.to_numeric(df[col].astype(str), errors='coerce')

# 2. Crear la nueva característica sumando las comorbilidades
df["ds_comorbilidades"] = df[comorbidity_cols].sum(axis=1)

# 3. Volver a convertir las columnas de comorbilidades a tipo 'category'
for col in comorbidity_cols:
    if col in df.columns:
        df[col] = df[col].astype("category")

In [220]:
df.to_csv('DATOS_PREPROCESADOS_COMPLETO.csv', index=False)

In [221]:
for col in df.columns:
    print(f"Columna: {col}")
    print("Cantidad de cada valor:")
    print(df[col].value_counts())
    print("-" * 40)

Columna: gidenpac
Cantidad de cada valor:
gidenpac
GRGT192408040    1
SRVL193407450    1
SNSN193710280    1
FRMG193902030    1
SNBR192902610    1
                ..
VLFR192603610    1
PRCR192704580    1
RDFR192903420    1
SRLV192908540    1
LVLN194408560    1
Name: count, Length: 893, dtype: int64
----------------------------------------
Columna: itipsexo
Cantidad de cada valor:
itipsexo
1    667
0    226
Name: count, dtype: int64
----------------------------------------
Columna: gsitalta
Cantidad de cada valor:
gsitalta
2    794
7     43
9     29
1     27
Name: count, dtype: int64
----------------------------------------
Columna: iotrocen
Cantidad de cada valor:
iotrocen
1    879
0     14
Name: count, dtype: int64
----------------------------------------
Columna: gdiagalt
Cantidad de cada valor:
gdiagalt
S72.141A    247
S72.012A    225
S72.142A    204
S72.011A    187
S72.002A     11
S72.001A      7
S72.102A      7
S72.101A      5
Name: count, dtype: int64
----------------------------------------
Columna: ds_izq_der
Cantidad de cada valor:
ds_izq_der
0    447
1    446
Name: count, dtype: int64
----------------------------------------
Columna: ds_turno
Cantidad de cada valor:
ds_turno
1    440
2    307
0    146
Name: count, dtype: int64
----------------------------------------
Columna: ds_edad
Cantidad de cada valor:
ds_edad
94     68
89     66
92     61
88     59
91     56
95     52
93     51
96     49
90     44
97     38
86     34
87     29
100    29
98     28
83     25
84     25
85     19
82     18
81     18
101    15
99     12
80     10
102     9
103     8
79      7
67      6
77      6
78      6
105     6
72      5
104     4
76      4
73      3
64      2
71      2
69      2
60      2
75      2
63      2
107     1
70      1
61      1
106     1
54      1
68      1
62      1
66      1
56      1
74      1
65      1
Name: count, dtype: int64
----------------------------------------
Columna: ds_estancia
Cantidad de cada valor:
ds_estancia
9     110
8     101
11     91
10     88
7      78
12     69
6      57
13     47
14     46
15     35
5      24
16     21
17     18
18     15
19     13
4      12
20     10
24      8
21      8
30      5
25      4
3       4
35      3
27      3
32      2
42      2
31      2
23      2
22      2
59      2
37      2
45      1
34      1
28      1
26      1
38      1
29      1
2       1
53      1
36      1
Name: count, dtype: int64
----------------------------------------
Columna: ds_pre_oper
Cantidad de cada valor:
ds_pre_oper
2     226
3     199
1     154
4     116
5      74
6      39
0      37
7      15
8      10
9       5
10      4
14      3
13      2
16      1
32      1
20      1
44      1
11      1
18      1
19      1
23      1
17      1
Name: count, dtype: int64
----------------------------------------
Columna: ds_post_oper
Cantidad de cada valor:
ds_post_oper
7     141
6     126
8     104
4      98
5      90
9      65
10     54
14     34
11     32
3      27
12     26
13     18
15     10
2       8
22      8
16      6
18      6
17      6
21      5
1       4
20      3
34      3
27      3
29      2
30      2
26      1
24      1
54      1
38      1
31      1
52      1
0       1
41      1
23      1
28      1
19      1
33      1
Name: count, dtype: int64
----------------------------------------
Columna: ds_vivo_alta
Cantidad de cada valor:
ds_vivo_alta
1    850
0     43
Name: count, dtype: int64
----------------------------------------
Columna: ds_dia_semana_llegada
Cantidad de cada valor:
ds_dia_semana_llegada
5    139
4    134
2    132
1    131
3    121
6    120
7    116
Name: count, dtype: int64
----------------------------------------
Columna: ds_mes_llegada
Cantidad de cada valor:
ds_mes_llegada
3     118
5     117
4     115
2     106
6      94
1      91
9      60
7      58
8      46
10     41
11     33
12     14
Name: count, dtype: int64
----------------------------------------
Columna: ds_centro_afueras
Cantidad de cada valor:
ds_centro_afueras
0    547
1    346
Name: count, dtype: int64
----------------------------------------
Columna: ds_alergia_medicamentosa
Cantidad de cada valor:
ds_alergia_medicamentosa
0    675
1    218
Name: count, dtype: int64
----------------------------------------
Columna: ds_alergia_alimenticia
Cantidad de cada valor:
ds_alergia_alimenticia
0    855
1     38
Name: count, dtype: int64
----------------------------------------
Columna: ds_otras_alergias
Cantidad de cada valor:
ds_otras_alergias
0    878
1     15
Name: count, dtype: int64
----------------------------------------
Columna: movilidad
Cantidad de cada valor:
movilidad
-999    619
 2      156
 3      118
Name: count, dtype: int64
----------------------------------------
Columna: Barthel
Cantidad de cada valor:
Barthel
-999    650
 20      28
 15      27
 10      24
 5       23
 25      22
 30      20
 35      18
 40      17
 45      12
 55      11
 50       9
 0        8
 60       6
 70       5
 65       5
 75       2
 85       2
 12       1
 80       1
 95       1
 39       1
Name: count, dtype: int64
----------------------------------------
Columna: braden
Cantidad de cada valor:
braden
-999    643
 15      58
 16      47
 14      36
 13      24
 17      21
 12      17
 18      16
 19      10
 11      10
 20       7
 21       2
 9        1
 8        1
Name: count, dtype: int64
----------------------------------------
Columna: riesgo_caida
Cantidad de cada valor:
riesgo_caida
-999    646
 6       66
 5       51
 4       32
 7       31
 3       24
 8       22
 9       12
 10       6
 1        2
 0        1
Name: count, dtype: int64
----------------------------------------
Columna: ds_ITU
Cantidad de cada valor:
ds_ITU
0    851
1     42
Name: count, dtype: int64
----------------------------------------
Columna: ds_anemia
Cantidad de cada valor:
ds_anemia
0    792
1    101
Name: count, dtype: int64
----------------------------------------
Columna: ds_vitamina_d
Cantidad de cada valor:
ds_vitamina_d
0    756
1    137
Name: count, dtype: int64
----------------------------------------
Columna: ds_insuficiencia_respiratoria
Cantidad de cada valor:
ds_insuficiencia_respiratoria
0    852
1     41
Name: count, dtype: int64
----------------------------------------
Columna: ds_insuficiencia_cardiaca
Cantidad de cada valor:
ds_insuficiencia_cardiaca
0    806
1     87
Name: count, dtype: int64
----------------------------------------
Columna: ds_deterioro_cognitivo
Cantidad de cada valor:
ds_deterioro_cognitivo
0    800
1     93
Name: count, dtype: int64
----------------------------------------
Columna: ds_insuficiencia_renal
Cantidad de cada valor:
ds_insuficiencia_renal
0    818
1     75
Name: count, dtype: int64
----------------------------------------
Columna: ds_HTA
Cantidad de cada valor:
ds_HTA
0    603
1    290
Name: count, dtype: int64
----------------------------------------
Columna: ds_diabetes
Cantidad de cada valor:
ds_diabetes
0    562
1    331
Name: count, dtype: int64
----------------------------------------
Columna: ds_comorbilidades
Cantidad de cada valor:
ds_comorbilidades
0    315
1    212
2    199
3    112
4     36
5     11
6      4
7      4
Name: count, dtype: int64
----------------------------------------

In [ ]:

df2 = df.drop(columns=['riesgo_caida'])
df2 = df2.drop(columns=['braden'])
df2 = df2.drop(columns=['Barthel'])
df2 = df2.drop(columns=['movilidad'])
df2.to_csv('DATOS_PREPROCESADOS_2.csv', index=False)

In [223]:
for col in df2.columns:
    print(f"Columna: {col}")
    print("Cantidad de cada valor:")
    print(df2[col].value_counts())
    print("-" * 40)

Columna: gidenpac
Cantidad de cada valor:
gidenpac
GRGT192408040    1
SRVL193407450    1
SNSN193710280    1
FRMG193902030    1
SNBR192902610    1
                ..
VLFR192603610    1
PRCR192704580    1
RDFR192903420    1
SRLV192908540    1
LVLN194408560    1
Name: count, Length: 893, dtype: int64
----------------------------------------
Columna: itipsexo
Cantidad de cada valor:
itipsexo
1    667
0    226
Name: count, dtype: int64
----------------------------------------
Columna: gsitalta
Cantidad de cada valor:
gsitalta
2    794
7     43
9     29
1     27
Name: count, dtype: int64
----------------------------------------
Columna: iotrocen
Cantidad de cada valor:
iotrocen
1    879
0     14
Name: count, dtype: int64
----------------------------------------
Columna: gdiagalt
Cantidad de cada valor:
gdiagalt
S72.141A    247
S72.012A    225
S72.142A    204
S72.011A    187
S72.002A     11
S72.001A      7
S72.102A      7
S72.101A      5
Name: count, dtype: int64
----------------------------------------
Columna: ds_izq_der
Cantidad de cada valor:
ds_izq_der
0    447
1    446
Name: count, dtype: int64
----------------------------------------
Columna: ds_turno
Cantidad de cada valor:
ds_turno
1    440
2    307
0    146
Name: count, dtype: int64
----------------------------------------
Columna: ds_edad
Cantidad de cada valor:
ds_edad
94     68
89     66
92     61
88     59
91     56
95     52
93     51
96     49
90     44
97     38
86     34
87     29
100    29
98     28
83     25
84     25
85     19
82     18
81     18
101    15
99     12
80     10
102     9
103     8
79      7
67      6
77      6
78      6
105     6
72      5
104     4
76      4
73      3
64      2
71      2
69      2
60      2
75      2
63      2
107     1
70      1
61      1
106     1
54      1
68      1
62      1
66      1
56      1
74      1
65      1
Name: count, dtype: int64
----------------------------------------
Columna: ds_estancia
Cantidad de cada valor:
ds_estancia
9     110
8     101
11     91
10     88
7      78
12     69
6      57
13     47
14     46
15     35
5      24
16     21
17     18
18     15
19     13
4      12
20     10
24      8
21      8
30      5
25      4
3       4
35      3
27      3
32      2
42      2
31      2
23      2
22      2
59      2
37      2
45      1
34      1
28      1
26      1
38      1
29      1
2       1
53      1
36      1
Name: count, dtype: int64
----------------------------------------
Columna: ds_pre_oper
Cantidad de cada valor:
ds_pre_oper
2     226
3     199
1     154
4     116
5      74
6      39
0      37
7      15
8      10
9       5
10      4
14      3
13      2
16      1
32      1
20      1
44      1
11      1
18      1
19      1
23      1
17      1
Name: count, dtype: int64
----------------------------------------
Columna: ds_post_oper
Cantidad de cada valor:
ds_post_oper
7     141
6     126
8     104
4      98
5      90
9      65
10     54
14     34
11     32
3      27
12     26
13     18
15     10
2       8
22      8
16      6
18      6
17      6
21      5
1       4
20      3
34      3
27      3
29      2
30      2
26      1
24      1
54      1
38      1
31      1
52      1
0       1
41      1
23      1
28      1
19      1
33      1
Name: count, dtype: int64
----------------------------------------
Columna: ds_vivo_alta
Cantidad de cada valor:
ds_vivo_alta
1    850
0     43
Name: count, dtype: int64
----------------------------------------
Columna: ds_dia_semana_llegada
Cantidad de cada valor:
ds_dia_semana_llegada
5    139
4    134
2    132
1    131
3    121
6    120
7    116
Name: count, dtype: int64
----------------------------------------
Columna: ds_mes_llegada
Cantidad de cada valor:
ds_mes_llegada
3     118
5     117
4     115
2     106
6      94
1      91
9      60
7      58
8      46
10     41
11     33
12     14
Name: count, dtype: int64
----------------------------------------
Columna: ds_centro_afueras
Cantidad de cada valor:
ds_centro_afueras
0    547
1    346
Name: count, dtype: int64
----------------------------------------
Columna: ds_alergia_medicamentosa
Cantidad de cada valor:
ds_alergia_medicamentosa
0    675
1    218
Name: count, dtype: int64
----------------------------------------
Columna: ds_alergia_alimenticia
Cantidad de cada valor:
ds_alergia_alimenticia
0    855
1     38
Name: count, dtype: int64
----------------------------------------
Columna: ds_otras_alergias
Cantidad de cada valor:
ds_otras_alergias
0    878
1     15
Name: count, dtype: int64
----------------------------------------
Columna: ds_ITU
Cantidad de cada valor:
ds_ITU
0    851
1     42
Name: count, dtype: int64
----------------------------------------
Columna: ds_anemia
Cantidad de cada valor:
ds_anemia
0    792
1    101
Name: count, dtype: int64
----------------------------------------
Columna: ds_vitamina_d
Cantidad de cada valor:
ds_vitamina_d
0    756
1    137
Name: count, dtype: int64
----------------------------------------
Columna: ds_insuficiencia_respiratoria
Cantidad de cada valor:
ds_insuficiencia_respiratoria
0    852
1     41
Name: count, dtype: int64
----------------------------------------
Columna: ds_insuficiencia_cardiaca
Cantidad de cada valor:
ds_insuficiencia_cardiaca
0    806
1     87
Name: count, dtype: int64
----------------------------------------
Columna: ds_deterioro_cognitivo
Cantidad de cada valor:
ds_deterioro_cognitivo
0    800
1     93
Name: count, dtype: int64
----------------------------------------
Columna: ds_insuficiencia_renal
Cantidad de cada valor:
ds_insuficiencia_renal
0    818
1     75
Name: count, dtype: int64
----------------------------------------
Columna: ds_HTA
Cantidad de cada valor:
ds_HTA
0    603
1    290
Name: count, dtype: int64
----------------------------------------
Columna: ds_diabetes
Cantidad de cada valor:
ds_diabetes
0    562
1    331
Name: count, dtype: int64
----------------------------------------
Columna: ds_comorbilidades
Cantidad de cada valor:
ds_comorbilidades
0    315
1    212
2    199
3    112
4     36
5     11
6      4
7      4
Name: count, dtype: int64
----------------------------------------

In [ ]:
# Elimina filas que contengan "-999" o -999 en cualquier columna
df3 = df[~df.isin(["-999", -999]).any(axis=1)]

#Eliminar columnas sin datos
df3 = df3.drop(columns=['iotrocen'])
df3["gdiagalt"] = df3["gdiagalt"].cat.remove_unused_categories()
df3["movilidad"] = df3["movilidad"].cat.remove_unused_categories()
df3["riesgo_caida"] = df3["riesgo_caida"].cat.remove_unused_categories()


df3.to_csv('DATOS_PREPROCESADOS_3.csv', index=False)

In [225]:
for col in df3.columns:
    print(f"Columna: {col}")
    print("Cantidad de cada valor:")
    print(df3[col].value_counts())
    print("-" * 40)

Columna: gidenpac
Cantidad de cada valor:
gidenpac
PRLV192810280    1
HNFR193304490    1
GRCN192904590    1
GNGN193010521    1
SLLN193101690    1
                ..
CBCB193609480    1
DZCS194103460    1
VLFR192603610    1
FRCL192910670    1
XTPS193708580    1
Name: count, Length: 218, dtype: int64
----------------------------------------
Columna: itipsexo
Cantidad de cada valor:
itipsexo
1    173
0     45
Name: count, dtype: int64
----------------------------------------
Columna: gsitalta
Cantidad de cada valor:
gsitalta
2    188
1     17
7     11
9      2
Name: count, dtype: int64
----------------------------------------
Columna: gdiagalt
Cantidad de cada valor:
gdiagalt
S72.141A    73
S72.012A    57
S72.142A    46
S72.011A    42
Name: count, dtype: int64
----------------------------------------
Columna: ds_izq_der
Cantidad de cada valor:
ds_izq_der
1    115
0    103
Name: count, dtype: int64
----------------------------------------
Columna: ds_turno
Cantidad de cada valor:
ds_turno
1    111
2     66
0     41
Name: count, dtype: int64
----------------------------------------
Columna: ds_edad
Cantidad de cada valor:
ds_edad
95     20
93     18
89     15
96     14
97     13
100    13
94     12
91     12
92     11
86     11
88     10
90      8
98      8
101     8
83      7
87      7
84      5
103     4
104     3
80      3
85      3
99      3
105     3
81      2
102     2
106     1
82      1
71      1
Name: count, dtype: int64
----------------------------------------
Columna: ds_estancia
Cantidad de cada valor:
ds_estancia
9     25
12    24
11    20
7     20
8     19
10    15
14    15
15    12
6     11
13     9
17     8
5      6
19     5
18     4
16     3
20     3
21     3
4      2
59     2
3      2
25     2
38     1
31     1
37     1
42     1
45     1
24     1
28     1
34     1
Name: count, dtype: int64
----------------------------------------
Columna: ds_pre_oper
Cantidad de cada valor:
ds_pre_oper
2     47
3     45
1     36
4     25
5     23
6     16
7      8
0      5
9      3
8      3
32     1
20     1
44     1
14     1
10     1
18     1
17     1
Name: count, dtype: int64
----------------------------------------
Columna: ds_post_oper
Cantidad de cada valor:
ds_post_oper
6     32
7     31
4     27
8     21
10    19
5     19
11    12
9     12
14    10
12     9
3      5
13     3
15     3
2      2
21     2
22     2
17     2
16     1
41     1
18     1
54     1
1      1
34     1
30     1
Name: count, dtype: int64
----------------------------------------
Columna: ds_vivo_alta
Cantidad de cada valor:
ds_vivo_alta
1    207
0     11
Name: count, dtype: int64
----------------------------------------
Columna: ds_dia_semana_llegada
Cantidad de cada valor:
ds_dia_semana_llegada
4    35
5    33
6    32
7    32
2    31
3    28
1    27
Name: count, dtype: int64
----------------------------------------
Columna: ds_mes_llegada
Cantidad de cada valor:
ds_mes_llegada
2     42
5     40
1     36
4     35
3     34
6     20
7     10
9      1
8      0
10     0
11     0
12     0
Name: count, dtype: int64
----------------------------------------
Columna: ds_centro_afueras
Cantidad de cada valor:
ds_centro_afueras
0    123
1     95
Name: count, dtype: int64
----------------------------------------
Columna: ds_alergia_medicamentosa
Cantidad de cada valor:
ds_alergia_medicamentosa
0    177
1     41
Name: count, dtype: int64
----------------------------------------
Columna: ds_alergia_alimenticia
Cantidad de cada valor:
ds_alergia_alimenticia
0    207
1     11
Name: count, dtype: int64
----------------------------------------
Columna: ds_otras_alergias
Cantidad de cada valor:
ds_otras_alergias
0    215
1      3
Name: count, dtype: int64
----------------------------------------
Columna: movilidad
Cantidad de cada valor:
movilidad
2    119
3     99
Name: count, dtype: int64
----------------------------------------
Columna: Barthel
Cantidad de cada valor:
Barthel
20    26
15    22
25    22
5     22
10    19
30    18
35    16
40    14
45    12
55    10
50     8
60     6
0      6
65     5
70     5
75     2
95     1
12     1
80     1
85     1
39     1
Name: count, dtype: int64
----------------------------------------
Columna: braden
Cantidad de cada valor:
braden
15    54
16    38
14    32
13    23
17    19
18    15
12    14
11     8
19     7
20     5
21     1
9      1
8      1
Name: count, dtype: int64
----------------------------------------
Columna: riesgo_caida
Cantidad de cada valor:
riesgo_caida
6     60
5     45
4     27
7     27
8     20
3     19
9     11
10     6
1      2
0      1
Name: count, dtype: int64
----------------------------------------
Columna: ds_ITU
Cantidad de cada valor:
ds_ITU
0    202
1     16
Name: count, dtype: int64
----------------------------------------
Columna: ds_anemia
Cantidad de cada valor:
ds_anemia
0    211
1      7
Name: count, dtype: int64
----------------------------------------
Columna: ds_vitamina_d
Cantidad de cada valor:
ds_vitamina_d
0    207
1     11
Name: count, dtype: int64
----------------------------------------
Columna: ds_insuficiencia_respiratoria
Cantidad de cada valor:
ds_insuficiencia_respiratoria
0    199
1     19
Name: count, dtype: int64
----------------------------------------
Columna: ds_insuficiencia_cardiaca
Cantidad de cada valor:
ds_insuficiencia_cardiaca
0    198
1     20
Name: count, dtype: int64
----------------------------------------
Columna: ds_deterioro_cognitivo
Cantidad de cada valor:
ds_deterioro_cognitivo
0    188
1     30
Name: count, dtype: int64
----------------------------------------
Columna: ds_insuficiencia_renal
Cantidad de cada valor:
ds_insuficiencia_renal
0    207
1     11
Name: count, dtype: int64
----------------------------------------
Columna: ds_HTA
Cantidad de cada valor:
ds_HTA
0    143
1     75
Name: count, dtype: int64
----------------------------------------
Columna: ds_diabetes
Cantidad de cada valor:
ds_diabetes
0    147
1     71
Name: count, dtype: int64
----------------------------------------
Columna: ds_comorbilidades
Cantidad de cada valor:
ds_comorbilidades
0    86
1    51
2    50
3    20
4     8
5     2
7     1
Name: count, dtype: int64
----------------------------------------

Revisando dataset

In [226]:
df

,gidenpac,itipsexo,gsitalta,iotrocen,gdiagalt,ds_izq_der,ds_turno,ds_edad,ds_estancia,ds_pre_oper,...,ds_ITU,ds_anemia,ds_vitamina_d,ds_insuficiencia_respiratoria,ds_insuficiencia_cardiaca,ds_deterioro_cognitivo,ds_insuficiencia_renal,ds_HTA,ds_diabetes,ds_comorbilidades
0,GRGT192408040,0,2,1,S72.102A,0,2,100,27,5,...,0,0,1,1,1,0,0,0,1,4
1,FRMR193008300,0,2,1,S72.011A,1,1,94,15,1,...,0,0,1,0,0,1,0,1,1,4
2,GRPS193212171,0,2,1,S72.011A,1,2,92,7,1,...,0,0,0,0,0,0,0,0,0,0
3,SNRT193308080,0,2,1,S72.142A,0,1,91,11,3,...,0,0,0,0,1,0,1,0,1,3
4,SNCN193604060,0,2,1,S72.141A,1,0,88,8,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
978,SRDL194004480,1,2,1,S72.011A,1,0,84,8,1,...,0,0,0,0,0,0,0,1,1,2
979,LVSN194012491,1,2,1,S72.012A,0,2,84,9,2,...,0,1,0,0,0,1,0,1,0,3
980,DZTS194302440,1,2,1,S72.141A,1,2,82,12,5,...,0,0,0,0,0,0,0,0,1,1
981,LNMG194312481,1,2,1,S72.011A,1,1,81,13,4,...,0,0,0,0,0,0,0,0,0,0
982,LVLN194408560,1,2,1,S72.141A,1,1,80,13,6,...,1,1,1,0,0,1,0,1,1,6

In [227]:
# Contar el número de valores únicos en cada columna
unique_counts = df.nunique()
print(unique_counts)

gidenpac                         893
itipsexo                           2
gsitalta                           4
iotrocen                           2
gdiagalt                           8
ds_izq_der                         2
ds_turno                           3
ds_edad                           50
ds_estancia                       40
ds_pre_oper                       22
ds_post_oper                      37
ds_vivo_alta                       2
ds_dia_semana_llegada              7
ds_mes_llegada                    12
ds_centro_afueras                  2
ds_alergia_medicamentosa           2
ds_alergia_alimenticia             2
ds_otras_alergias                  2
movilidad                          3
Barthel                           22
braden                            14
riesgo_caida                      11
ds_ITU                             2
ds_anemia                          2
ds_vitamina_d                      2
ds_insuficiencia_respiratoria      2
ds_insuficiencia_cardiaca          2
ds_deterioro_cognitivo             2
ds_insuficiencia_renal             2
ds_HTA                             2
ds_diabetes                        2
ds_comorbilidades                  8
dtype: int64

In [228]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 893 entries, 0 to 982
Data columns (total 32 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   gidenpac                       893 non-null    object
 1   itipsexo                       893 non-null    category
 2   gsitalta                       893 non-null    category
 3   iotrocen                       893 non-null    category
 4   gdiagalt                       893 non-null    category
 5   ds_izq_der                     893 non-null    category
 6   ds_turno                       893 non-null    category
 7   ds_edad                        893 non-null    int64
 8   ds_estancia                    893 non-null    int64
 9   ds_pre_oper                    893 non-null    int64
 10  ds_post_oper                   893 non-null    int64
 11  ds_vivo_alta                   893 non-null    category
 12  ds_dia_semana_llegada          893 non-null    category
 13  ds_mes_llegada                 893 non-null    category
 14  ds_centro_afueras              893 non-null    category
 15  ds_alergia_medicamentosa       893 non-null    category
 16  ds_alergia_alimenticia         893 non-null    category
 17  ds_otras_alergias              893 non-null    category
 18  movilidad                      893 non-null    category
 19  Barthel                        893 non-null    int64
 20  braden                         893 non-null    int64
 21  riesgo_caida                   893 non-null    category
 22  ds_ITU                         893 non-null    category
 23  ds_anemia                      893 non-null    category
 24  ds_vitamina_d                  893 non-null    category
 25  ds_insuficiencia_respiratoria  893 non-null    category
 26  ds_insuficiencia_cardiaca      893 non-null    category
 27  ds_deterioro_cognitivo         893 non-null    category
 28  ds_insuficiencia_renal         893 non-null    category
 29  ds_HTA                         893 non-null    category
 30  ds_diabetes                    893 non-null    category
 31  ds_comorbilidades              893 non-null    int64
dtypes: category(24), int64(7), object(1)
memory usage: 87.5+ KB

In [229]:
for col in df.columns:
    valores_unicos = df[col].unique()       # Obtiene los valores únicos de la columna
    cantidad_unicos = df[col].nunique()       # Cuenta cuántos valores únicos hay
    print(f"Columna: {col} - Valores únicos: {cantidad_unicos}")
    print(valores_unicos)
    print("-" * 40)

Columna: gidenpac - Valores únicos: 893
['GRGT192408040' 'FRMR193008300' 'GRPS193212171' 'SNRT193308080'
 'SNCN193604060' 'ZQRS193604120' 'PRLV192810280' 'LZDZ193004030'
 'LNGN194608080' 'NSFR194801090' 'FRBL195103090' 'DRCL192405020'
 'NGCL192704250' 'FRCL193109160' 'FRMR193705310' 'FRMR000000081'
 'LRGR194103270' 'LZRZ192504670' 'BRMR192711630' 'SNMG192802420'
 'RMSN191904580' 'PSSN192007680' 'RCLP192404410' 'LVLL192407550'
 'LPVD192612620' 'FRPR192711530' 'PBGR192805690' 'MNFR192806630'
 'CTMR192811100' 'GNML193504080' 'FRRD193511170' 'CLLN193808090'
 'VLRS194509030' 'GRMR192109670' 'PBSN193607100' 'CNCM192602040'
 'LVTS192811150' 'LVPR192906080' 'PRDP193009080' 'GRGN193503260'
 'LLBD195110130' 'DZLV195612070' 'RBCS192905450' 'FRHL193005530'
 'PRLZ193201540' 'FLGR193205680' 'GRGR193302590' 'PRPM193311530'
 'GRLV193610710' 'FRBR192703680' 'VZVZ192705700' 'MLFR192811680'
 'FRGR193109290' 'FNPR193308020' 'LPPR193504220' 'SPGR193507290'
 'GRFR193612110' 'RDBR000000058' 'DLFR192905170' 'JMLV193509010'
 'BLCR193808040' 'BLRM193205310' 'LPGG193208230' 'MRMR193209130'
 'PRZT193503150' 'LLGR192202500' 'RBFR193105480' 'BNML193111531'
 'MTVD193206560' 'GLSL193305530' 'CSRD193309630' 'RDBN193311660'
 'LPCF193412640' 'LNGN193503490' 'PNLV193506680' 'CRCN193508500'
 'HRMN193801700' 'FNFR194008480' 'SRMR192108180' 'LBBR192904270'
 'BLCS193003090' 'CBRM193109160' 'SNSN193301210' 'FRCB194307310'
 'CSZT000000001' 'MRBL192911250' 'GVGR193112100' 'DMRD193203140'
 'LQPL194711120' 'STCR192206470' 'VGRQ192812530' 'CRRM192906670'
 'SNGR193006450' 'CRGR193006530' 'MTCR193202530' 'SRMR193210550'
 'FRRV193406700' 'BRFR193407480' 'BNCS193409640' 'CNGN193501650'
 'GRGR193612660' 'LVMC193012210' 'PRFR194111130' 'FRGR194402050'
 'SRBL192112620' 'MRTP192608450' 'MNHR191911290' 'GNGN193004230'
 'HNMR193204020' 'LVCB193704071' 'FRFL193811030' 'LRMT194003090'
 'HRDL194508130' 'SNSN193006100' 'GNPR193009290' 'FRRD193102230'
 'HRMR193103050' 'GRST193312240' 'GRCS193404270' 'PNMR193806050'
 'FDGN193811170' 'GRDP192308291' 'CSCC193512120' 'LLGT194207160'
 'GTPR195210220' 'RDGN192309040' 'VZGL193204120' 'SCDL193312010'
 'LSBR193501150' 'RDGN193709020' 'GVRD194211190' 'DRGL195008210'
 'FRGR193707650' 'FLVL193809490' 'CRRD195705580' 'RCGT195902430'
 'PSRD192109300' 'GLDZ192205260' 'RCPN192801140' 'GLFR193011220'
 'SNRB193705230' 'GRGR193711020' 'HDMR192508120' 'CRCR192806110'
 'GNBL192907150' 'CRLV193109290' 'MLFR193709080' 'MRFR200002020'
 'NVCS192809480' 'HNPR193003410' 'DMFR193011520' 'HDGN193105610'
 'MRGN193201550' 'PRPR192811270' 'LVLV193007280' 'FNNT193112010'
 'SNRZ193211160' 'MBGN193603070' 'MNSR193612280' 'MRPR193906130'
 'JMBR193910200' 'SNCN194210050' 'GRPS192307450' 'VGGR192309590'
 'TMDL192402680' 'GNGN192406530' 'GRLP192502670' 'LLCT192610630'
 'FRGR192706420' 'MRFR192907550' 'RDHR193007510' 'LNMZ193406570'
 'GNLP193109611' 'LLGR193310420' 'MRMR192402260' 'GRMN192606210'
 'BLGR192807170' 'MRPR193207280' 'DLSC194006030' 'MNNV194007070'
 'RDNV192608220' 'CSCB192805150' 'NVCB192911070' 'MTMN193211110'
 'DZLV193310090' 'PRDB193405230' 'GRVL193504230' 'RDFR193507300'
 'GRFR192404040' 'MRHR192811180' 'BRRS194108051' 'GNGR191903070'
 'BLSN192606110' 'PRLV192809290' 'PRRS192705640' 'CRGR195712060'
 'FRGN192701530' 'PRPR192709690' 'RDGB192908420' 'MTSR192912480'
 'VCHR193003420' 'LLGN193206430' 'PTGT192301690' 'FRBL192407430'
 'MNGR192503430' 'PRCB192604520' 'GRRD192604550' 'BRLZ192707440'
 'LZLV192912530' 'PZGN193005460' 'CRCM193103410' 'LVLV193105470'
 'LNTR192302090' 'MTMR192601310' 'GNCS193101070' 'VLDP193204140'
 'FRVJ193901270' 'VLRB194502060' 'MNGR192512580' 'NDGN192611570'
 'TRSN192709450' 'LVGL192806530' 'GMDP192809580' 'GMCC192903500'
 'LLLP192910590' 'PRRY193001520' 'GNLN193002420' 'FRLN193006640'
 'LLRD193009300' 'MRGD193207080' 'BLPR194103040' 'CSVL192804560'
 'VLLL193003430' 'PRFR193102450' 'GNRD193107650' 'ZPSR193201490'
 'LVGT193204650' 'GNGN193302640' 'GNLL193402580' 'LVLZ193001020'
 'GMGN193101210' 'VLCS193506210' 'LNCT200202020' 'MSCS193905180'
 'GMGL192301010' 'CVVL193104190' 'MRLN193904260' 'TRLZ193303240'
 'MRDL193311240' 'FDMR193504220' 'RBBL193904200' 'RDGT192609020'
 'PRMR192609210' 'PRSR192810300' 'RDLL193205150' 'CRLJ194202540'
 'DNPR194404450' 'LZLN194405460' 'MNMR194508480' 'RDMR194803540'
 'FRRD193006010' 'MRMR193111170' 'FNJS193412230' 'CBGN193609210'
 'LFLL192212310' 'CNBR193006210' 'LBDL193111090' 'FRST193506010'
 'TCDZ194308210' 'GRRD194309200' 'FLGN192702090' 'FLDZ192807300'
 'GNLF192903310' 'DZDL193006230' 'GRGR193310030' 'FRCS192410510'
 'SVMR192502600' 'GRGR192502630' 'DMMR192812700' 'RMMR192905550'
 'TRGN193106560' 'TRGM193303590' 'PRGR000000008' 'MLST193506430'
 'CNCS193510680' 'DZGR193507510' 'XXLB193508681' 'RSMR193602511'
 'PRCS193605550' 'CBCB193609480' 'VLCD193609590' 'RVVJ193804641'
 'BRFR194101480' 'DZCS194103460' 'GRRD194103480' 'GNDL193609250'
 'GRSV193806690' 'PRPT194008580' 'SNLP194010411' 'VLNG194109490'
 'RDCN194811450' 'VLFR192603610' 'PRCR192704580' 'RDFR192903420'
 'SRLV192908540' 'FRCL192910670' 'VCST193110511' 'VLMR193311450'
 'CVCR193510420' 'RBFR193603420' 'CSBR193605420' 'GRCR192403130'
 'MRGL193101270' 'LNVJ193208290' 'VLLP193305080' 'DZST193702100'
 'CRCL194301270' 'VGDM192603410' 'MNDL192706530' 'DZGM193005570'
 'QNMR193010550' 'GRSR193302450' 'MTGR193306580' 'MRVG193603660'
 'RDPN193801670' 'FRFR193912460' 'MLST194411580' 'CLRD192402060'
 'LRCS192902040' 'GNGN193512230' 'PRFR193708230' 'CNGR194007070'
 'GRMY200101010' 'GNLZ194411140' 'SLRB192709530' 'DZRY192804630'
 'RDGR193001590' 'ZPGR193005420' 'FLMR193007680' 'GNSN193101610'
 'HRGN192809160' 'GRDC193001041' 'GNFR193001240' 'MRPR193003250'
 'CBFR193105300' 'DZDC193808280' 'LVDZ194106040' 'MRRM194112220'
 'GNLL194202030' 'SNSZ193309640' 'FRGN193408670' 'PRGR193412450'
 'VZMR193507430' 'FRGM194011480' 'GMGR191912620' 'RDCS192609551'
 'LNGL192312580' 'HRLP192405590' 'PNMR192606660' 'PRBR192610450'
 'TRBD192804680' 'BRHV192811580' 'MZCR192905560' 'FRVL193102631'
 'FRCS193204470' 'TJVL193311650' 'CLMR200202420' 'MRLV192802550'
 'PRNN192809620' 'RDLN193003550' 'PRCR193103521' 'GTLL000000006'
 'MRGR193207650' 'GLSR193302500' 'VLVL193405600' 'BLGD193603700'
 'HRGR196103150' 'DZFR191710410' 'VLMN192504690' 'YGCR192612660'
 'LLMR192003550' 'FRCN192412700' 'VRTR192508450' 'NCTR192610520'
 'LNGN192703580' 'GTLP192706600' 'MRLV193105560' 'PRPR193203690'
 'FLST193302420' 'SNLV192501600' 'LNSL192712310' 'MDDZ192812470'
 'RLDL192902450' 'SNGN192911570' 'JNFR193003620' 'NTGR193202670'
 'VJMD192810050' 'SLLN193108300' 'BJRG193605140' 'NTGR200101010'
 'CSRS194804070' 'RYVC193010450' 'GNMN193111580' 'FRGL193204450'
 'LGJV193209580' 'LVGR193212540' 'FRLV193401560' 'PRRR193404450'
 'MRBL193509610' 'PLLV193510690' 'BRMG000000005' 'LRLL193603571'
 'GRGT193610620' 'GGMZ194612100' 'LRRD195708160' 'SLSN192404650'
 'CNMR193401420' 'GNRD193509480' 'GGLN193701660' 'CSPN194205520'
 'GRRD192710490' 'GTDF192805530' 'RMRD192902570' 'GDFR192907690'
 'SNGM193004440' 'GNLL193112530' 'FRGN193303590' 'MRFR193606430'
 'LLRC193301480' 'DZDZ193305670' 'BNGN193402670' 'VLCR193505680'
 'SNGN193609670' 'MRFR193902680' 'LNSL194112560' 'RMGR195711441'
 'MRGN191904420' 'GNVL192511700' 'FNGT192603510' 'RXMG192802560'
 'LPRG192805500' 'ZPHR193007500' 'LZPS193302520' 'MRBL193302620'
 'LLRR193303630' 'CSVC192406420' 'MRLN192412680' 'RDGR192704580'
 'GDGR192712610' 'HLND192909510' 'SNDZ193003650' 'MRCC196005120'
 'FRLV192003540' 'FRLV192509430' 'FRMR192902641' 'LBMT192904480'
 'CMCM195001260' 'MRXX195406100' 'FRDL192201600' 'VDLN192606690'
 'PRMR192308500' 'FRFR192505420' 'FNFR192802591' 'FRDL193003510'
 'STRD193010450' 'FRCR193312440' 'MRLN195209020' 'SRFR192801170'
 'PRPR000000001' 'NHDL193105430' 'FRLV193106620' 'MYDZ192204430'
 'FRBL192211500' 'GRGN192309500' 'GRLN192510500' 'PZFR192608700'
 'CMCR192706670' 'CSDM198210580' 'SNSN000000027' 'LNGR192809630'
 'FRLL192911670' 'QSLM192812470' 'SNFR193001540' 'VLLV193001610'
 'GRFR196304240' 'GNFR192703590' 'CRCR192709550' 'GRRJ192905450'
 'GNMR192912500' 'MLSC194602110' 'GRLV192902420' 'MRMM192303520'
 'LNPR192410610' 'PSDL192907640' 'FRFR191806480' 'LNLL192412450'
 'DMFN192412520' 'LGLN192609610' 'GRDZ193602610' 'MRTR193803680'
 'CLPL193808690' 'SRVL194407470' 'RBPL195208580' 'RDMR192211700'
 'FNSN192402680' 'LNGN192710440' 'FRVD192710710' 'LLSN192811470'
 'CDSN000000002' 'MRMR193112420' 'MYGN193402580' 'CSBR193504540'
 'MTRD192501540' 'FRMZ192612650' 'PRFR192811580' 'SNPR192911611'
 'FRSN193004660' 'FRMR193907600' 'RSMR194212640' 'PRRV194308430'
 'BRSN194702540' 'SVSC197009260' 'LVPR192112610' 'LVGN192408450'
 'GRRS192803640' 'MLPR192806460' 'VGFL192908520' 'GRCN192904590'
 'LPNT193007680' 'GNGN193010521' 'SLLN193101690' 'GNMY193112710'
 'FLFL193203500' 'MRSN193210500' 'FLVL193211470' 'FRGN193305560'
 'RBCR193406690' 'DZLP193409460' 'VLXX193409520' 'MRBN193411600'
 'TRBL000000003' 'CLMR196501560' 'SCPR193602600' 'PRMR193801640'
 'GRGT193803600' 'GRPR193811440' 'SLDL193902580' 'MNRY193904490'
 'PRDZ193907610' 'DZGR194004530' 'GNGT192410160' 'HRGL192810150'
 'BLRD193010030' 'SNRB194303300' 'MZFR194312310' 'VLGN196105010'
 'LNSN193401500' 'BLCR193401700' 'FRRD193503590' 'RDMR193505510'
 'FRDZ193509700' 'MRGR200202423' 'RDLV193702050' 'GRGT193902410'
 'RMGN194203480' 'BNBL194211620' 'PZGN200101412' 'MRRD194305450'
 'FRBR192503450' 'MZRD192804440' 'LNMR193002580' 'MRFR193105510'
 'PRRD193209480' 'HNFR193304490' 'LPFR193407460' 'DZRB193503630'
 'GRFL193508430' 'GNSH200101010' 'MRGN192710110' 'GRFR192905150'
 'LLPD193811210' 'RDMG194107080' 'GRCR195209040' 'PRSN192407680'
 'GNCL192003290' 'JMCR192610180' 'GTMR193301210' 'BNGR193408260'
 'CBGR193603280' 'SNSN193710280' 'FRMG193902030' 'SNBR192902610'
 'LBFY192904450' 'PRSN192911690' 'LCGN193001631' 'GRLV193005550'
 'GNGD193110510' 'MRFR193212610' 'GRCV193310410' 'VLCM193402520'
 'SRVL193407450' 'GNRX193504650' 'LVFR193601490' 'DZFR193702560'
 'SRLZ193806660' 'LPBL193905640' 'MRRS194101410' 'RDST194108590'
 'SPSN194209640' 'FRGR194502660' 'FRPR192709410' 'CBDL192901430'
 'GRGR192903490' 'FRTR193003670' 'LVFR193112510' 'LPPR193201671'
 'YRBL193405510' 'NZMG193509590' 'CHGR193611410' 'LLLL193709660'
 'RDLV193804510' 'GRDC193808480' 'SMSL193009460' 'CSVG200101410'
 'FRGR000000333' 'DZTJ193409630' 'MRRV000000013' 'DZMN200101410'
 'VLGN193010580' 'GRRB200001415' 'CRFR193211620' 'TRPR193403680'
 'SNSS193412690' 'FRCR193503430' 'GLHR193504500' 'BTPD193609600'
 'VDMR193412570' 'RBLV193609590' 'GNMR193709600' 'TJBR193902451'
 'HRFL193905700' 'RDST194104612' 'LRDM193203640' 'GRCL193312560'
 'FRSL193607540' 'GGGG193607690' 'GRDZ193702420' 'LNGT193702500'
 'TSBL193803610' 'GRMR193812630' 'GRBT193907620' 'MRCB193605450'
 'BRGN193710480' 'GRNR193710660' 'FRPR193806470' 'CSMN200101411'
 'GRMR194104500' 'JMPR200202420' 'LPCR194104660' 'GRBS193503490'
 'CDGT193504480' 'SPMR193907710' 'MNSN194210670' 'RDRD194309580'
 'MLHD196410700' 'GZHR193609520' 'SPSH194204540' 'GRGN194206580'
 'RDRD194310650' 'GNGN194711700' 'GNGL193610460' 'NTMR200201410'
 'MLGN193903450' 'RGMR194105510' 'VLTR194204480' 'LVCN194708590'
 'FRLL194802470' 'RBGR192905540' 'GRVL193010600' 'LNVG193103460'
 'DMLN193103600' 'NVNV193211520' 'PRCR193311470' 'RSCR193404470'
 'MNGR193604540' 'BRRY193701610' 'FRCM193404470' 'CRPR193510560'
 'GTGR193608670' 'SNGR193609641' 'RDRD194109471' 'CNFR193101470'
 'RSMR193107671' 'RGTR193109590' 'PRJM193311510' 'BRVL193403431'
 'RDCS193403480' 'CVGR193604670' 'DZBR193807630' 'GRGR20020242F'
 'PZPR194303470' 'PLGM193005480' 'LVND193010630' 'BDMG193204480'
 'CSMR193211610' 'BLGN193307560' 'CRGN193309440' 'BDMR193409460'
 'LBLN193501510' 'JNVD193608640' 'CLLN193702420' 'LLGN193702470'
 'MLSN194005430' 'LLDL193901520' 'LPGL194003660' 'LRPR195105520'
 'BCPR193304560' 'CSPR193603670' 'FRFR194005442' 'RDVL194103630'
 'PLBL194109520' 'LZLV194304440' 'SCDZ194307580' 'GMMR193006520'
 'BNFR193108410' 'MGMR193202480' 'QNML193205620' 'LVSP193207630'
 'RXCR193208580' 'LVBL193210520' 'RJFR193404650' 'PRBR193406470'
 'FRLN193501450' 'MTGR193501700' 'LLLL194508670' 'ZPCS194704030'
 'MRRD196003250' 'PZCD196303060' 'HRSR191911690' 'RDGR192311600'
 'GRGN192403450' 'FRQN192703620' 'MRCL192704560' 'LGJN192709410'
 'FRMR192712480' 'RMLV193005660' 'DZLL193011561' 'LPSN193210610'
 'BLLB193301430' 'MRJN193303510' 'GNFR193304520' 'BJMN193306500'
 'SLMR193311650' 'MRPR193503450' 'CNBL192909610' 'MDCR193008430'
 'FRVL193011531' 'GNRS193201580' 'PRTR193205410' 'CNFR193310600'
 'LPVL193502420' 'LPCB193508471' 'LVRS195707421' 'MGMG192807510'
 'GTPR193112550' 'MRFR193409690' 'LLGT193509550' 'RSVD000000002'
 'FRRD193601670' 'LVLV193603550' 'BRTR193705620' 'RMGN193708570'
 'LNGN193805560' 'PRRM193912520' 'DPRD193710680' 'VDLV193711700'
 'FRRD193909440' 'FRBL200001413' 'SNMN194702420' 'FDTR193508480'
 'BRPR193512430' 'MYRD193602560' 'DZGR193612430' 'VLRY193707560'
 'CNTR194209460' 'FRLP193709430' 'LVFR194008560' 'LMTS194011610'
 'SLGR194101710' 'BRBC194109660' 'BLBR194510660' 'GNGN195508660'
 'GRRD193502410' 'NTGL193504670' 'CSDL193509650' 'DLPR193603680'
 'LPRD193702490' 'LLBR196805580' 'GRCS193812710' 'VGFR194005460'
 'FRRD193210480' 'LNLR193212480' 'SLRD193306440' 'CSCR193311560'
 'YGGR193602450' 'GNGR193602620' 'DMSD193603480' 'BLSN193611540'
 'NZCH193611560' 'RMBJ193806620' 'GNGT193909450' 'FRRD194806561'
 'TRFR192912570' 'RSFR193009530' 'BRBR193105700' 'VJRG193106470'
 'VGVG193112460' 'RSGZ193402500' 'LLLL193404500' 'LVLN193512611'
 'FRGN193702500' 'RRGR193804460' 'PSVL194105410' 'CHJZ194302510'
 'MRGN194412260' 'PRRC192209620' 'BRGN192410650' 'BRLP192603540'
 'FRCR194402430' 'PDGR192410480' 'RBDL192603520' 'CBRD192608480'
 'VGPR193005500' 'MCMR192905660' 'PRMT192912461' 'GRLR193203640'
 'VGFR193210560' 'MRMR193211450' 'LNGN193507520' 'VVPR193510680'
 'HRDZ195507550' 'CVRD195712710' 'RBRB194009530' 'MRLN194303620'
 'PRRD194909540' 'MRFR195303580' 'PRRJ193402680' 'QNCL193503420'
 'RYBR200202420' 'MDCS193512650' 'MRFZ000000001' 'MRGN193612540'
 'GRGR193701410' 'GNLV194312510' 'BDCR193008540' 'VLBR193104480'
 'TRHR193203480' 'CSMR193307460' 'MNMN193309490' 'NVLV193402650'
 'GNGN193509650' 'PZCR193705650' 'VLHR193709520' 'PRSM193710590'
 'FRPR194006450' 'RBFR194103560' 'GNMR196001580' 'LMDZ194609700'
 'PRGR192810680' 'PZBL193005450' 'CLCS193104520' 'MRMR000000255'
 'CRCB193207470' 'DZFR193303680' 'RZFR193403690' 'VDLD193408640'
 'LVLV193501450' 'BZMR193509440' 'LVGR193509470' 'RDDM193509620'
 'CBCS194203680' 'MDDZ194610640' 'HRCD194102480' 'BYMR194110580'
 'GRVG195304620' 'XTPS193708580' 'LPRB193709420' 'MRGR193911630'
 'SRDL194004480' 'LVSN194012491' 'DZTS194302440' 'LNMG194312481'
 'LVLN194408560']
----------------------------------------
Columna: itipsexo - Valores únicos: 2
[0, 1]
Categories (2, int64): [0, 1]
----------------------------------------
Columna: gsitalta - Valores únicos: 4
[2, 9, 7, 1]
Categories (4, int64): [1, 2, 7, 9]
----------------------------------------
Columna: iotrocen - Valores únicos: 2
[1, 0]
Categories (2, int64): [0, 1]
----------------------------------------
Columna: gdiagalt - Valores únicos: 8
['S72.102A', 'S72.011A', 'S72.142A', 'S72.141A', 'S72.012A', 'S72.002A', 'S72.001A', 'S72.101A']
Categories (8, object): ['S72.001A', 'S72.002A', 'S72.011A', 'S72.012A', 'S72.101A', 'S72.102A', 'S72.141A', 'S72.142A']
----------------------------------------
Columna: ds_izq_der - Valores únicos: 2
[0, 1]
Categories (2, int64): [0, 1]
----------------------------------------
Columna: ds_turno - Valores únicos: 3
[2, 1, 0]
Categories (3, int64): [0, 1, 2]
----------------------------------------
Columna: ds_edad - Valores únicos: 50
[100  94  92  91  88  96  78  77  73  97  93  87  83  99 105 104  98  89
  86  79 103  95  68  90  84  81 102 101  82  72  74  67  66  80  85  76
  63 107  64  75  70  61 106  54  60  62  69  56  71  65]
----------------------------------------
Columna: ds_estancia - Valores únicos: 40
[27 15  7 11  8 10 14 17 21  9 19  6  3 13 37 16 12 20 23 31 38 42 18 32
  5  4 30 24 22 59 35 53  2 25 29 45 26 28 34 36]
----------------------------------------
Columna: ds_pre_oper - Valores únicos: 22
[ 5  1  3  4  2  9 32  6  8  7  0 14 13 16 10 20 44 11 18 19 23 17]
----------------------------------------
Columna: ds_post_oper - Valores únicos: 37
[22 14  6  8  7  5 10  4  9 13 20  1 11 12 18 34 38 29  3 27 15 26  2 24
 17 54 16 31 52  0 21 41 23 30 28 19 33]
----------------------------------------
Columna: ds_vivo_alta - Valores únicos: 2
[1, 0]
Categories (2, int64): [0, 1]
----------------------------------------
Columna: ds_dia_semana_llegada - Valores únicos: 7
[4, 1, 7, 3, 5, 6, 2]
Categories (7, int32): [1, 2, 3, 4, 5, 6, 7]
----------------------------------------
Columna: ds_mes_llegada - Valores únicos: 12
[4, 6, 2, 7, 8, ..., 3, 10, 9, 12, 11]
Length: 12
Categories (12, int32): [1, 2, 3, 4, ..., 9, 10, 11, 12]
----------------------------------------
Columna: ds_centro_afueras - Valores únicos: 2
[0, 1]
Categories (2, int64): [0, 1]
----------------------------------------
Columna: ds_alergia_medicamentosa - Valores únicos: 2
[1, 0]
Categories (2, int64): [0, 1]
----------------------------------------
Columna: ds_alergia_alimenticia - Valores únicos: 2
[0, 1]
Categories (2, int64): [0, 1]
----------------------------------------
Columna: ds_otras_alergias - Valores únicos: 2
[0, 1]
Categories (2, int64): [0, 1]
----------------------------------------
Columna: movilidad - Valores únicos: 3
[-999, 2, 3]
Categories (3, int64): [-999, 2, 3]
----------------------------------------
Columna: Barthel - Valores únicos: 22
[-999   40   35   45   50   15   25   10   20   30   75   80   70    5
   60    0   55   65   85   95   12   39]
----------------------------------------
Columna: braden - Valores únicos: 14
[-999   15   18   17   16   19   13   11   14   12   20   21    9    8]
----------------------------------------
Columna: riesgo_caida - Valores únicos: 11
[-999, 3, 6, 7, 8, ..., 4, 0, 5, 10, 1]
Length: 11
Categories (11, int64): [-999, 0, 1, 3, ..., 7, 8, 9, 10]
----------------------------------------
Columna: ds_ITU - Valores únicos: 2
[0, 1]
Categories (2, int64): [0, 1]
----------------------------------------
Columna: ds_anemia - Valores únicos: 2
[0, 1]
Categories (2, int64): [0, 1]
----------------------------------------
Columna: ds_vitamina_d - Valores únicos: 2
[1, 0]
Categories (2, int64): [0, 1]
----------------------------------------
Columna: ds_insuficiencia_respiratoria - Valores únicos: 2
[1, 0]
Categories (2, int64): [0, 1]
----------------------------------------
Columna: ds_insuficiencia_cardiaca - Valores únicos: 2
[1, 0]
Categories (2, int64): [0, 1]
----------------------------------------
Columna: ds_deterioro_cognitivo - Valores únicos: 2
[0, 1]
Categories (2, int64): [0, 1]
----------------------------------------
Columna: ds_insuficiencia_renal - Valores únicos: 2
[0, 1]
Categories (2, int64): [0, 1]
----------------------------------------
Columna: ds_HTA - Valores únicos: 2
[0, 1]
Categories (2, int64): [0, 1]
----------------------------------------
Columna: ds_diabetes - Valores únicos: 2
[1, 0]
Categories (2, int64): [0, 1]
----------------------------------------
Columna: ds_comorbilidades - Valores únicos: 8
[4 0 3 1 2 6 5 7]
----------------------------------------

In [230]:
for col in df.columns:
    print(f"Columna: {col}")
    print("Cantidad de cada valor:")
    print(df[col].value_counts())
    print("-" * 40)

Columna: gidenpac
Cantidad de cada valor:
gidenpac
GRGT192408040    1
SRVL193407450    1
SNSN193710280    1
FRMG193902030    1
SNBR192902610    1
                ..
VLFR192603610    1
PRCR192704580    1
RDFR192903420    1
SRLV192908540    1
LVLN194408560    1
Name: count, Length: 893, dtype: int64
----------------------------------------
Columna: itipsexo
Cantidad de cada valor:
itipsexo
1    667
0    226
Name: count, dtype: int64
----------------------------------------
Columna: gsitalta
Cantidad de cada valor:
gsitalta
2    794
7     43
9     29
1     27
Name: count, dtype: int64
----------------------------------------
Columna: iotrocen
Cantidad de cada valor:
iotrocen
1    879
0     14
Name: count, dtype: int64
----------------------------------------
Columna: gdiagalt
Cantidad de cada valor:
gdiagalt
S72.141A    247
S72.012A    225
S72.142A    204
S72.011A    187
S72.002A     11
S72.001A      7
S72.102A      7
S72.101A      5
Name: count, dtype: int64
----------------------------------------
Columna: ds_izq_der
Cantidad de cada valor:
ds_izq_der
0    447
1    446
Name: count, dtype: int64
----------------------------------------
Columna: ds_turno
Cantidad de cada valor:
ds_turno
1    440
2    307
0    146
Name: count, dtype: int64
----------------------------------------
Columna: ds_edad
Cantidad de cada valor:
ds_edad
94     68
89     66
92     61
88     59
91     56
95     52
93     51
96     49
90     44
97     38
86     34
87     29
100    29
98     28
83     25
84     25
85     19
82     18
81     18
101    15
99     12
80     10
102     9
103     8
79      7
67      6
77      6
78      6
105     6
72      5
104     4
76      4
73      3
64      2
71      2
69      2
60      2
75      2
63      2
107     1
70      1
61      1
106     1
54      1
68      1
62      1
66      1
56      1
74      1
65      1
Name: count, dtype: int64
----------------------------------------
Columna: ds_estancia
Cantidad de cada valor:
ds_estancia
9     110
8     101
11     91
10     88
7      78
12     69
6      57
13     47
14     46
15     35
5      24
16     21
17     18
18     15
19     13
4      12
20     10
24      8
21      8
30      5
25      4
3       4
35      3
27      3
32      2
42      2
31      2
23      2
22      2
59      2
37      2
45      1
34      1
28      1
26      1
38      1
29      1
2       1
53      1
36      1
Name: count, dtype: int64
----------------------------------------
Columna: ds_pre_oper
Cantidad de cada valor:
ds_pre_oper
2     226
3     199
1     154
4     116
5      74
6      39
0      37
7      15
8      10
9       5
10      4
14      3
13      2
16      1
32      1
20      1
44      1
11      1
18      1
19      1
23      1
17      1
Name: count, dtype: int64
----------------------------------------
Columna: ds_post_oper
Cantidad de cada valor:
ds_post_oper
7     141
6     126
8     104
4      98
5      90
9      65
10     54
14     34
11     32
3      27
12     26
13     18
15     10
2       8
22      8
16      6
18      6
17      6
21      5
1       4
20      3
34      3
27      3
29      2
30      2
26      1
24      1
54      1
38      1
31      1
52      1
0       1
41      1
23      1
28      1
19      1
33      1
Name: count, dtype: int64
----------------------------------------
Columna: ds_vivo_alta
Cantidad de cada valor:
ds_vivo_alta
1    850
0     43
Name: count, dtype: int64
----------------------------------------
Columna: ds_dia_semana_llegada
Cantidad de cada valor:
ds_dia_semana_llegada
5    139
4    134
2    132
1    131
3    121
6    120
7    116
Name: count, dtype: int64
----------------------------------------
Columna: ds_mes_llegada
Cantidad de cada valor:
ds_mes_llegada
3     118
5     117
4     115
2     106
6      94
1      91
9      60
7      58
8      46
10     41
11     33
12     14
Name: count, dtype: int64
----------------------------------------
Columna: ds_centro_afueras
Cantidad de cada valor:
ds_centro_afueras
0    547
1    346
Name: count, dtype: int64
----------------------------------------
Columna: ds_alergia_medicamentosa
Cantidad de cada valor:
ds_alergia_medicamentosa
0    675
1    218
Name: count, dtype: int64
----------------------------------------
Columna: ds_alergia_alimenticia
Cantidad de cada valor:
ds_alergia_alimenticia
0    855
1     38
Name: count, dtype: int64
----------------------------------------
Columna: ds_otras_alergias
Cantidad de cada valor:
ds_otras_alergias
0    878
1     15
Name: count, dtype: int64
----------------------------------------
Columna: movilidad
Cantidad de cada valor:
movilidad
-999    619
 2      156
 3      118
Name: count, dtype: int64
----------------------------------------
Columna: Barthel
Cantidad de cada valor:
Barthel
-999    650
 20      28
 15      27
 10      24
 5       23
 25      22
 30      20
 35      18
 40      17
 45      12
 55      11
 50       9
 0        8
 60       6
 70       5
 65       5
 75       2
 85       2
 12       1
 80       1
 95       1
 39       1
Name: count, dtype: int64
----------------------------------------
Columna: braden
Cantidad de cada valor:
braden
-999    643
 15      58
 16      47
 14      36
 13      24
 17      21
 12      17
 18      16
 19      10
 11      10
 20       7
 21       2
 9        1
 8        1
Name: count, dtype: int64
----------------------------------------
Columna: riesgo_caida
Cantidad de cada valor:
riesgo_caida
-999    646
 6       66
 5       51
 4       32
 7       31
 3       24
 8       22
 9       12
 10       6
 1        2
 0        1
Name: count, dtype: int64
----------------------------------------
Columna: ds_ITU
Cantidad de cada valor:
ds_ITU
0    851
1     42
Name: count, dtype: int64
----------------------------------------
Columna: ds_anemia
Cantidad de cada valor:
ds_anemia
0    792
1    101
Name: count, dtype: int64
----------------------------------------
Columna: ds_vitamina_d
Cantidad de cada valor:
ds_vitamina_d
0    756
1    137
Name: count, dtype: int64
----------------------------------------
Columna: ds_insuficiencia_respiratoria
Cantidad de cada valor:
ds_insuficiencia_respiratoria
0    852
1     41
Name: count, dtype: int64
----------------------------------------
Columna: ds_insuficiencia_cardiaca
Cantidad de cada valor:
ds_insuficiencia_cardiaca
0    806
1     87
Name: count, dtype: int64
----------------------------------------
Columna: ds_deterioro_cognitivo
Cantidad de cada valor:
ds_deterioro_cognitivo
0    800
1     93
Name: count, dtype: int64
----------------------------------------
Columna: ds_insuficiencia_renal
Cantidad de cada valor:
ds_insuficiencia_renal
0    818
1     75
Name: count, dtype: int64
----------------------------------------
Columna: ds_HTA
Cantidad de cada valor:
ds_HTA
0    603
1    290
Name: count, dtype: int64
----------------------------------------
Columna: ds_diabetes
Cantidad de cada valor:
ds_diabetes
0    562
1    331
Name: count, dtype: int64
----------------------------------------
Columna: ds_comorbilidades
Cantidad de cada valor:
ds_comorbilidades
0    315
1    212
2    199
3    112
4     36
5     11
6      4
7      4
Name: count, dtype: int64
----------------------------------------